@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
input, textarea { margin:0; padding:0;}
* {-webkit-text-size-adjust:none;}
ol, ul { list-style:none;}
abbr, acronym { border:0;}
img { vertical-align: middle; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix {height: 1%;}
*:first-child + html .clearfix { min-height: 1%;}

body, h1, h2, h3, h4, h5, h6, p {font-family:'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif; font-weight: normal; color: #000;}
p{ font-size: 0.9375em; }
a{ cursor: pointer; text-decoration:none; outline: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
a:hover{ text-decoration:none;}
select, input, textarea, button {  font-family:'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif;}
*:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/*===== start ======*/
.HeaderBox p.storage{ float: left; color: #333;  font-size: 0.813rem;}
.HeaderBox p.storage i{ color: #d4d4d4;}
.HeaderBox p.storage a{ color:#12ccc4; margin-left:10px;}
.HeaderBox p.storage a:hover, .HeaderBox p.storage a:active{ text-decoration: underline; }
.HeaderBox p.btn_public{ float: left; margin: 0 15px 0 15px; }
.HeaderBox p.btn_public a{ border-radius: 50px; padding: 0 15px; display: inline-block; background-color: #12ccc4;  color: #fff; min-width: 110px; text-align: center;}
.HeaderBox p.btn_public a:hover, .HeaderBox p.btn_public a:active{ opacity: .9; }
.HeaderBox p.web_title{ font-size:0.875rem; float: left;}
.HeaderBox p.out{ float: right;}
.HeaderBox p.out i{ padding-right: 6px;}
.HeaderBox p.out a{ color: #333; padding: 0 15px; display: block; }
.HeaderBox p.out a:hover, .HeaderBox p.out a:active{ opacity: .9; }

.HeaderBox  ul.device_item{ width: 200px; text-align: center; float: left; }
.HeaderBox  ul.device_item li{  display: inline-block;}
.HeaderBox  ul.device_item li a{ line-height: 40px; width: 40px; color: #333; cursor: pointer; display: block; border-radius: 50%; }
.HeaderBox  ul.device_item li a:hover, .HeaderBox  ul.device_item li a:active{ color: #12ccc4; }
.HeaderBox  ul.device_item li a.btn_in{ background-color: #12ccc4; color: #fff; }

.edit_main_contents{ width: 100%; min-height: 100%; padding-top: 62px; overflow: hidden; }
.edit_main_contents .sideMenu{ width:300px; min-height:100%; z-index: 80; background-color:#ececec; position:fixed; top: 62px; box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.25), 0px 10px 18px rgba(0, 0, 0, 0.22); }
.edit_main_contents .menu_container{ width: 100%; height: 100%; position: relative; }
.edit_main_contents .menu_container a.btn_sideMenu{ cursor: pointer; border-bottom: 1px solid #dbdbdb; height: 43px;  position: absolute; text-align: center; min-width: 100px; top: 0; z-index: 10; right: -143px; background-color: #ececec; padding:10px 5px; border-radius: 4px 4px 0 0; box-shadow: 5px -9px 15px rgba(0, 0, 0, 0.2);-moz-transform-origin:left top; -moz-transform:rotate(90deg); -webkit-transform-origin:left top; -webkit-transform:rotate(90deg); -o-transform-origin:left top; -o-transform:rotate(90deg); -ms-transform-origin:left top; -ms-transform:rotate(90deg);}
.edit_main_contents .menu_container a.btn_sideMenu p{ font-size: 0.875rem;line-height: 22px;}

.edit_main_contents .sideMenu .top_headline{ padding: 16px 10px 10px 26px; }
.edit_main_contents .sideMenu .top_headline p{ font-size: 0.813rem; color: #777; font-weight: bold;}
.edit_main_contents .sideMenu .top_headline a.note{ position: relative; color: #12ccc4;}
.edit_main_contents .sideMenu .top_headline span.note_info{ display: none; color: #fff; z-index: 10; position: absolute; top: -10px; left: 26px; width: 160px; border-radius: 4px; padding: 10px; background-color: rgba(0,0,0,.8); }
.edit_main_contents .sideMenu .top_headline span.note_info::before{ content: ""; position: absolute; display:block; border-width:8px 8px 8px 8px; border-style:solid; border-color: transparent  rgba(0,0,0,.8) transparent transparent; left:-16px; top:10px;}

.edit_main_contents .sideMenu .rollingBox{ width:100%; padding: 10px 0 10px 16px; height:calc(100vh - 325px);  display: block; overflow-x: hidden; }
.edit_main_contents .sideMenu .rollingBox .top_headline{ padding-left: 10px; }

.edit_main_contents .sideMenu ul.other_tool{ width:100%; padding: 16px 16px 0 16px; }
.edit_main_contents .sideMenu ul.other_tool li{ float: left; width: calc(50% - 5px);}
.edit_main_contents .sideMenu ul.other_tool li:nth-child(2n){ float: right; }
.edit_main_contents .sideMenu ul.other_tool li p{ text-align: center; font-weight: bold; color: #555; }
.edit_main_contents .sideMenu ul.other_tool li i{  padding-right: 8px; }

.edit_main_contents .sideMenu ul.other_tool li a { width:100%; color: #555; line-height: 32px; padding: 5px; border:1px solid #d4d4d4; border-radius: 50px; background-color: #ffffff; display: block; }
.edit_main_contents .sideMenu ul.other_tool li a:hover, .edit_main_contents .sideMenu ul.other_tool li a:active { color: #12ccc4; background-color: #333333; color: #fff; }
.edit_main_contents .sideMenu ul.other_tool li a.theme:hover, .edit_main_contents .sideMenu ul.other_tool li a.theme:active { background-color: #464646; }

.edit_main_contents .sideMenu ul.mainMenu{ width:266px; }
.edit_main_contents .sideMenu ul.mainMenu li{width: 100%;}
.edit_main_contents .sideMenu ul.mainMenu li .the_section{width: 100%;  margin-bottom: 6px; /*position: relative;*/ padding: 5px; border:1px solid #d4d4d4; border-radius: 40px; background-color: #ffffff;}
.edit_main_contents .sideMenu ul.mainMenu li .section_name{ float: left;  width: calc(100% - 30px); position: relative;}

.edit_main_contents .sideMenu ul.mainMenu li h3{ float: left; padding: 0 5px; cursor: pointer; width: calc(100% - 40px); line-height: 32px; font-size: 0.938rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.edit_main_contents .sideMenu ul.mainMenu li i{ cursor: pointer;  float: left; width: 30px; height: 32px; text-align: center; line-height: 32px; color: #d4d4d4; }
.edit_main_contents .sideMenu ul.mainMenu li i.icon_move{ cursor: move; }
.edit_main_contents .sideMenu ul.mainMenu li i.more_function{ position: absolute; top: 0px; right: 5px; color: #8a8a8a; z-index: 5;}
.edit_main_contents .sideMenu ul.mainMenu li i.more_function:hover, .edit_main_contents .sideMenu ul.mainMenu li i.more_function:active{ color: #555; }
.edit_main_contents .sideMenu ul.mainMenu li i.icon_eye_hide{ float: none; position: absolute; right: 35px; }
.edit_main_contents .sideMenu ul.mainMenu li.the_hide h3{ color: #8a8a8a; width: calc(100% - 70px); }
.edit_main_contents .sideMenu ul.mainMenu li.selected .the_section{ border-color: #12ccc4; }
.edit_main_contents .sideMenu ul.mainMenu li.selected .the_section i.icon_move{ color: #12ccc4;}

.edit_main_contents .sideMenu ul.mainMenu li .edit_title{ float: left; max-width: calc(100% - 33px);}
.edit_main_contents .sideMenu ul.mainMenu li .edit_title input{ float: left; width: 100%; color: #685883; max-width: calc(100% - 30px); background-color: #e6e4e4; padding: 3px 5px; height: 34px; line-height: 34px; border-radius: 4px; font-size: 0.938rem;}
.edit_main_contents .sideMenu ul.mainMenu li .edit_title input::placeholder{ font-size: 0.813rem; color: #959595; }
.edit_main_contents .sideMenu ul.mainMenu li .edit_title i{ color: #12ccc4; cursor: pointer; text-align: right;}

.edit_main_contents .sideMenu ul.mainMenu li .edit_link{ position: relative; width: calc(100% - 10px); margin:0 5px 10px 5px; padding: 5px 0; background-color:#464646; border-radius: 8px;}
.edit_main_contents .sideMenu ul.mainMenu li .edit_link i{ color: #8a8a8a; cursor: pointer; text-align: center;}
.edit_main_contents .sideMenu ul.mainMenu li .edit_link input{ float: left; width: 100%; color: #333; max-width: calc(100% - 62px); background-color: #ececec; padding: 3px 5px 3px 5px; height: 34px; line-height: 34px; border-radius: 4px; font-size: 0.938rem;}
.edit_main_contents .sideMenu ul.mainMenu li .edit_link input::placeholder{ font-size: 0.813rem; color: #959595; }
.edit_main_contents .sideMenu ul.mainMenu li .edit_link i.done{ position: absolute; top: 6px; right:2px; color: #12ccc4; }

.edit_main_contents .sideMenu ul.mainMenu li .subBox{ width: 100%; min-width: 120px; display: none;/* float: left;*/}
.edit_main_contents .sideMenu ul.mainMenu li .subBox ul{ background-color: #fff; width:calc(100% - 10px); margin:0px 0 6px 5px; border-radius: 8px; overflow: hidden;}
.edit_main_contents .sideMenu ul.mainMenu li .subBox ul li{ float: left; padding: 5px; border:1px solid #d4d4d4; border-width: 1px 0 0 0; width: 50%; background-color:transparent; border-color: #e2e1e1; margin: 0; position: initial; border-radius: 0; }
.edit_main_contents .sideMenu ul.mainMenu li .subBox ul li p{ font-size: 0.813rem; font-weight: bold;}
.edit_main_contents .sideMenu ul.mainMenu li .subBox ul li a{padding:0 5px; display: block; color: #333;}
.edit_main_contents .sideMenu ul.mainMenu li .subBox ul li i{ float: none; color: #8a8a8a; padding-right: 5px;}
.edit_main_contents .sideMenu ul.mainMenu li .subBox ul li a:hover, .edit_main_contents .sideMenu ul.mainMenu li .subBox ul li a:active { color: #12ccc4; }
.edit_main_contents .sideMenu ul.mainMenu li .subBox ul li a:hover i, .edit_main_contents .sideMenu ul.mainMenu li .subBox ul li a:active i{ color: #12ccc4; }
.edit_main_contents .sideMenu ul.mainMenu li .subBox ul li:nth-child(1), .edit_main_contents .sideMenu ul.mainMenu li .subBox ul li:nth-child(2){ border:none; }

.edit_main_contents .sideMenu p.add_section{ text-align: center; font-weight: bold; max-width: 266px; color: #333; line-height: 32px; font-size: 0.938rem; margin-bottom: 15px;}
.edit_main_contents .sideMenu p.add_section a{ width:100%; color: #333; border:1px solid #d4d4d4; padding: 5px; border-radius: 40px; background-color: #ffffff; display: block;}
.edit_main_contents .sideMenu p.add_section a i{ padding-right: 8px; color: #12ccc4;}
.edit_main_contents .sideMenu p.add_section a:hover, .edit_main_contents .sideMenu p.add_section a:active{ background-color: #333333; color: #fff; }
.edit_main_contents .sideMenu p.add_section a:hover i, .edit_main_contents .sideMenu p.add_section a:active i{ color: #fff; }/*
.edit_main_contents .sideMenu p.color_none a{ background-color: transparent;}
.edit_main_contents .sideMenu p.color_none a i{ color: #8a8a8a; }*/

.edit_main_contents .sideMenu .other_assistance{ width: 284px; padding: 10px 0 10px 16px;}
.edit_main_contents .sideMenu .other_assistance .top_headline{ padding: 0px 10px 10px 10px; }
.edit_main_contents .sideMenu .other_assistance ul.other_tool{ width: calc(100% - 16px); padding: 0px; }
.edit_main_contents .sideMenu p.copyrights{ width: 100%; max-width:calc( 100% - 32px); text-align: center; margin: 0 auto; font-size:0.688rem; color: #a0a0a0; padding: 8px 0;}

.edit_main_contents .sideMenu .btn_switch{ display: inline-block;}
.edit_main_contents .sideMenu .btn_switch p{float: left; line-height: 24px; font-size: 0.813rem; font-weight: bold; margin:0 8px; color: #333;}
.edit_main_contents .sideMenu .btn_switch p.open{ color: #0cc2aa;}
.edit_main_contents .sideMenu .btn_switch input {opacity: 0;position: absolute;top: 0;left: 0;}
.edit_main_contents .sideMenu .btn_switch input:checked ~ .button:before {background-color:#27d0ca;border: 1px solid #27d0ca;}
.edit_main_contents .sideMenu .btn_switch input:checked ~ .button:after {left: 22px;}
.edit_main_contents .sideMenu .switch_type{float: left; position: relative;}
.edit_main_contents .sideMenu .button {display: inline-block;position: relative; height: 22px;-webkit-user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);cursor: pointer;background-color: #eee; border-radius: 22px;}
.edit_main_contents .sideMenu .button:before {content: ""; display: inline-block; width: 42px; height: 22px; background-color: #fff; border-radius: 22px; box-sizing: border-box; border: 2px solid #eee; transition: all 0.2s linear; }
.edit_main_contents .sideMenu .button:after {position: absolute; left: 2px; top: 2px; content: ""; display: inline-block; width: 18px; height: 18px; background-color: #fff; border-radius: 18px; transition: all 0.2s linear; box-shadow: 0px 1px 3px #bbb;}

.the_bottom_tool{ width: 100%; position: fixed ;bottom: 0; left: 0; z-index: 100; display: none;}
.the_bottom_tool ul{ width: 100%; background-color: #fff; }
.the_bottom_tool ul li{ width: calc(100% / 2); float: left; }
.the_bottom_tool ul li p{ text-align: center; font-size: 0.875rem; }
.the_bottom_tool ul li p a{ color: #fff;  background-color: #333333; height: 58px; padding: 5px 0; display: block; }
.the_bottom_tool ul li p a:hover, .the_bottom_tool ul li p a:active{ opacity: .8; }
.the_bottom_tool ul li i{display: block; line-height: 26px;}
.the_bottom_tool ul li.theme p a { background-color: #464646; }
.the_bottom_tool ul li.release p a { background-color: #12ccc4; }

.dLeft{ -webkit-transition:left 0.3s; -moz-transition:left 0.3s; transition:left 0.3s; background:#000; position:relative; left:-300px; top:0;}
.menu-left{left:0px;}

.edit_main_contents .rightEditBox{ width: 100%; max-width: calc(100% - 300px); min-height: 100%; display: block; float: right; -webkit-transition: background .2s linear, border-radius 1s ease-in 1s, max-width .3s; transition: background .2s linear, border-radius 1s ease-in 1s, max-width .3s; }
.edit_main_contents .rightEditBox_w100{ max-width: 100%; }


/*網頁預覽 - 另開一頁*/
.preview_frame{background-color: #fff;  position: fixed; width: 100%; top: 62px; height: calc(100% - 62px); overflow: hidden;}
.preview_frame .frame_wrapper{ width: 100%; height: 100%; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
.preview_frame .frame_wrapper iframe.screen{ width: 100% !important; height: 100% !important; }

.tablet{ overflow-y: scroll; padding: 50px 0; height: calc(100% - 62px); background-color: #464646;}
.tablet .frame_wrapper{ transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; width: 768px; height:993px; padding: 91px 76px 116px 76px; margin: 0 auto; background: url(//img.holkee.com/main/br_previe_tablet.png) center top no-repeat;-webkit-box-sizing:initial; -moz-box-sizing: initial;  box-sizing: initial; }

.mobile{ overflow-y: scroll; padding: 50px 0; height: calc(100% - 62px); background-color: #464646;}
.mobile .frame_wrapper{transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; width: 360px; height:570px; padding: 102px 30px 128px 30px; margin: 0 auto; background: url(//img.holkee.com/main/br_previe_mobile.png) center top no-repeat; -webkit-box-sizing:initial; -moz-box-sizing: initial;  box-sizing: initial;}



@media (max-width:800px){
	.edit_main_contents .rightEditBox{ max-width: 100%;}
}
@media (max-height:650px){ /*這是height*/
	.edit_main_contents .sideMenu .rollingBox{ height: calc(100vh - 370px);}
}
@media (max-width:650px){
	.HeaderBox p.storage, .HeaderBox p.btn_public, .edit_main_contents .sideMenu ul.other_tool{ display: none; }
	.HeaderBox ul.device_item{ display: none; }
	.edit_main_contents .sideMenu .rollingBox::before{ top: 100px; }
	.edit_main_contents .rightEditBox { padding-bottom: 58px; }
	.the_bottom_tool{ display: block; }
}
@media (max-width:400px){
	.edit_main_contents .sideMenu{ width: 250px;}
	.edit_main_contents .sideMenu p.add_section a{max-width: 216px;}
	/*.edit_main_contents .sideMenu .rollingBox{ width: 234px; }*/
	.edit_main_contents .sideMenu ul.mainMenu{ width: 216px; }
	.edit_main_contents .sideMenu ul.mainMenu li .subBox ul li p{font-size: 0.75rem;}
	.edit_main_contents .sideMenu ul.mainMenu li h3{ width: calc(100% - 10px);}
	.edit_main_contents .sideMenu ul.mainMenu li h3, .edit_main_contents .sideMenu ul.mainMenu li .edit_title input, .edit_main_contents .sideMenu ul.mainMenu li .edit_link input{font-size: 0.875rem;}
	.edit_main_contents .sideMenu ul.mainMenu li i{ width: 20px; }
	.edit_main_contents .sideMenu ul.mainMenu li .edit_link i{width: 30px;}
	.edit_main_contents .sideMenu ul.mainMenu li .edit_title input{ max-width: calc(100% - 20px);}
	.edit_main_contents .sideMenu ul.mainMenu li .edit_title{ max-width: calc(100% - 20px);}
	.edit_main_contents .sideMenu .other_assistance{ width: 232px; }
	.edit_main_contents .sideMenu .btn_switch{ float: left; }
	.the_bottom_tool ul li p{font-size: 0.813rem;}

	.dLeft{ left: -250px; }
	.menu-left{left: 0;}
}

/*------------- 新 增 的 p o p u p  s t y l e ---------------*/

.setBox .for_pop_note{ display: inline-block; padding: 0 0 20px 0; width: 100%; text-align: center; font-size: 0.875rem; color: #77aa44; font-weight: bold; line-height: 42px; }
.setBox .for_pop_note i{ padding-right: 5px; display: inline-block;}
.setBox .color_red{color: #ff2121;}

.setBox .fillinBox h3.website_title{ line-height: 42px; }
.setBox .fillinBox .published{ text-align: center; }
.setBox .fillinBox .amp_qrcode{ width: 100%; max-width: 200px; margin: 0 auto; }
.setBox .fillinBox .amp_qrcode img { width: 100%; }
.setBox .fillinBox .copy_link{ width: 100%; }
.setBox .fillinBox .copy_link input{ float: left; max-width: calc(100% - 100px); background-color: #e9ecef; }
.setBox .fillinBox .copy_link a.copy{ float: left; font-size: 0.938rem; width: 100px; text-align: center; background-color: #333; line-height: 42px; color: #fff; }
.setBox .published p.the_reminder{ text-align: center; }
.setBox .published p.the_reminder span.blue{ color: #12ccc4; font-weight: bold; }
.setBox .published .shareBox{ width: 100%; text-align: center; padding: 10px 0;}
.setBox .published .shareBox a{ display: inline-block; color: #333; font-size: 1.4rem; width: 42px; height: 42px ; background-color: #f2f2f2; line-height: 42px; text-align: center; margin: 0 4px; border-radius: 50%; }
.setBox .published .shareBox a:hover, .setBox .published .shareBox a:active{ color: #12ccc4; }


.setBox ul.socialBox_list{ width: 100%; padding: 10px 0; color: #666; }
.setBox ul.socialBox_list li{ width: 50%; float: left; padding: 0 10px 15px 10px; }
.setBox ul.socialBox_list li .left_title{ float: left; width: 115px; line-height: 42px; font-size: 0.813rem;}
.setBox ul.socialBox_list li .left_title i{ width: 40px; text-align: center; font-size:initial;}
.setBox ul.socialBox_list li .link_input{ float: left; width:calc(100% - 115px); position: relative; }
/*
.setBox ul.socialBox_list li .link_input input{ padding-right: 40px; }
.setBox ul.socialBox_list li .link_input i{ position: absolute; top: 0; right: 0; color: #999; cursor: pointer; width: 35px; height: 42px; line-height: 42px; text-align: center; }
*/

.setBox ul.shareBox_list{ width: 100%; padding: 10px 0 20px; color: #666; text-align: center; }
.setBox ul.shareBox_list li { display: inline-block; margin: 0 10px; padding-bottom: 15px; vertical-align: middle; }
.setBox ul.shareBox_list li input{ width: initial; }
.setBox ul.shareBox_list li p { margin-left: 5px; padding:3px 8px; display: inline-block; font-size: 0.813rem; border-radius: 4px;background-color: #333; color: #fff; }
.setBox ul.shareBox_list li p i{ padding-right: 7px; }
.setBox ul.shareBox_list li p.facebook{ background-color: #3b5998; }
.setBox ul.shareBox_list li p.gplus{ background-color: #dc4e41; }
.setBox ul.shareBox_list li p.line{ background-color: #52b448; }
.setBox ul.shareBox_list li p.linkedin{ background-color: #0077b5; }
.setBox ul.shareBox_list li p.pinterest{ background-color: #bd081c; }
.setBox ul.shareBox_list li p.tumblr{ background-color: #3c5a77; }
.setBox ul.shareBox_list li p.twitter{ background-color: #1da1f2; }
.setBox ul.shareBox_list li p.whatsapp{ background-color: #25d366; }


.setBox .img_upload{ width: 100%; height: 260px; margin: 0 auto; text-align: center; }
.setBox .img_upload a{ width: 100%; height: 100%; position: relative; cursor: pointer; color: #b1b1b1; display: block;  margin: 0 auto; text-align: center; max-width: 200px; max-height: 200px; border: 1px dashed #d4d4d4; border-radius: 4px; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.setBox .img_upload a img{ max-width: 100%; max-height: 100%; }
.setBox .img_upload p{ font-size: 0.75rem;color: #b1b1b1; text-align: center;}
.setBox .img_upload p i.images{ font-size: 2rem; padding-bottom: 10px; display: block; }
.setBox .img_upload a:hover{ border-color: #555; }
.setBox .img_upload a:hover p{ color: #555; }
.setBox .img_upload .the_btn{  text-align: center; position: absolute; width: 100%;  left: 0; top: 0%; height: 100%; background-color: rgba(0,0,0,.5); display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; opacity: 0;}
.setBox .img_upload .the_btn p{ text-align: center; width: 100%; font-size: 1rem; }
.setBox .img_upload .the_btn span{ color: #fff; width: 42%; display: inline-block; }
.setBox .img_upload .the_btn span i{ display: block; padding-bottom: 5px; }
.setBox .img_upload a:hover .the_btn{ opacity: 1; }


.slide_Photo ul.Photo_list{ width: 100%; text-align: left; }
.slide_Photo ul.Photo_list li{ vertical-align: top; padding:10px; position: relative; cursor: move; display: inline-block;}
.slide_Photo ul.Photo_list li .list_nb{ z-index: 10; position: absolute; top: 0; left: 0 ;font-size: 0.688rem; width: 20px; height: 20px; display: block; border-radius: 50%; background-color: #0cc2aa; color: #fff; text-align: center; line-height: 20px; }
.slide_Photo ul.Photo_list li .photo{ width: 190px; height: 190px; display: block; overflow: hidden; position: relative; display: -webkit-flex; display: flex; display:flex; align-items:center; justify-content:center; }
.slide_Photo ul.Photo_list li .photo img{ max-width: 100%; max-height: 100%; }
.slide_Photo ul.Photo_list li .the_btn{  text-align: center; position: absolute; width: 100%;  left: 0; top: 0%; height: 100%; background-color: rgba(0,0,0,.5); display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; opacity: 0;}
.slide_Photo ul.Photo_list li .the_btn:hover { opacity: 1; }
.slide_Photo ul.Photo_list li .the_btn p{ text-align: center; width: 100%; }
.slide_Photo ul.Photo_list li .the_btn a{ color: #fff; width: 42%; display: inline-block; }
.slide_Photo ul.Photo_list li .the_btn a i{ display: block; padding-bottom: 5px; }
.slide_Photo ul.Photo_list li .the_btn a:hover{ opacity: .5; }
.slide_Photo ul.Photo_list li .img_upload{ height: 100%; padding: 0; }
.slide_Photo ul.Photo_list li .product_fillinBox{ max-width: 190px; padding: 10px 0; }
.slide_Photo ul.Photo_list li .product_fillinBox input{ text-align: center; width: 100%; margin-bottom: 5px; /*background-color: #ececec;*/ padding: 5px 10px; border-radius: 4px; border:1px dashed #d4d4d4; }
.slide_Photo ul.Photo_list li .product_fillinBox input:focus{ border-color: #333; }
.slide_Photo ul.Photo_list li .product_fillinBox p.tips{ text-align: center; font-size: 0.813rem;}
.slide_Photo ul.Photo_list li .product_fillinBox p.tips a{ color: #0cc2aa;}
.slide_Photo ul.Photo_list li .product_fillinBox p.tips a:hover{ text-decoration: underline; }

.slide_Photo p.the_reminder{ padding-bottom: 40px; text-align: center; }

/*popup - 新增版塊*/
.slide_Photo ul.section_list{ width: 100%; padding-bottom: 30px; text-align: left; }
.slide_Photo ul.section_list li{ padding:10px; float: left; width: 50%;}
.slide_Photo ul.section_list li h4{ text-align: center; padding:8px 0; min-height: 60px; }
.slide_Photo ul.section_list li .s_section_views{ cursor: pointer; width: 100%; overflow: hidden; position: relative; border-radius:15px; border:2px solid #e0e0e0;  display: block; overflow: hidden; }
.slide_Photo ul.section_list li .s_section_views:hover{ border-color: #27d0ca; }
.slide_Photo ul.section_list li .s_section_views .infoBox{ width: 100%; display: grid;}
.slide_Photo ul.section_list li .s_section_views .infoBox img{ width: 100%; }
.slide_Photo ul.section_list li .s_section_views .choose_this{ opacity: 0; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: rgba(0,0,0,.5); z-index: 50; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.slide_Photo ul.section_list li .s_section_views .choose_this p{color: #fff; text-align: center; text-shadow: 0 2px 3px rgba(0,0,0,.3);}
.slide_Photo ul.section_list li .s_section_views .choose_this i{ font-size: 2em; display: block; color: #28d0ca; padding-bottom: 10px;}

.slide_Photo ul.section_list li.btn_in .s_section_views{ border-color: #27d0ca; }
.slide_Photo ul.section_list li.btn_in .s_section_views .choose_this{ opacity: 1; }

.edit_button ul li{ float: left; width: 50%; }
.edit_button p.the_reminder{ padding-bottom: 40px; }
.edit_button p.target_blank { font-size: 0.813rem; color: #777; font-weight: bold; padding-bottom:10px;}
.edit_button p.target_blank input{ width: initial; margin-right: 5px;}

/*form-edit-box*/
.setBox ul.top-tap{ width: 100%; text-align: center; padding: 5px 0; max-width: 280px; margin: 0 auto;}
.setBox ul.top-tap li{ display: inline-block; width: calc(50% - 4px); }
.setBox ul.top-tap li p a{ color: #333; padding: 6px 15px; border: 1px solid #d4d4d4; border-radius: 4px; cursor: pointer; display: block;}
.setBox ul.top-tap li p a.btn_in{ color: #0cc2aa; border-color: #0cc2aa;}

.setBox .form-edit-box ul.from-data{ width: 100%;}
.setBox .form-edit-box ul li p.label_title{ font-size: 0.875em;}
.setBox .form-edit-box ul li textarea{ min-height: 42px; margin-top: 5px; resize:none; outline:none; overflow-y: hidden;}

.setBox .form-edit-box ul.from-data li{ border-bottom: 1px dashed #d4d4d4; padding: 25px 0;}
.setBox .form-edit-box ul.from-data li.move{ cursor: move;}
.setBox .form-edit-box ul.from-data li:last-child{ border: none; }
.setBox .form-edit-box ul.from-data li .both{width: 100%; }
.setBox .form-edit-box ul.from-data li p.add-item{ color: #888888; font-size: 13px; line-height: 22px;}
.setBox .form-edit-box ul.from-data li p.add-item a{ color: #27d0ca; padding:10px; display: block;}
.setBox .form-edit-box ul.from-data li p.add-item a:hover{text-decoration: underline;}
.setBox .form-edit-box ul.from-data li p.add-item i {padding-right: 8px;}
.setBox .form-edit-box ul.from-data li .edit-select-contents{ background-color: #f9f9f9; padding: 0px 15px 15px 15px; border-left: 2px solid #7ee3df; margin-top: 10px;}
.setBox .form-edit-box ul.from-data li .top-checkbox-style{ padding-top: 10px; border-bottom: 1px solid #e8e8e8;}
.setBox .form-edit-box ul.from-data li .top-checkbox-style p{ float: left; line-height: 40px; font-size: .813rem; font-size: .813rem; padding-right: 10px; }
.setBox .form-edit-box ul.from-data li .top-checkbox-style .required-checkbox{ max-width: initial; width: initial; }

.setBox .form-edit-box ul.from-data li ul.sub-item li{ padding: 10px 0 0 0;  border-bottom: none; position: relative;}
.setBox .form-edit-box ul.from-data li ul.sub-item li input{ float: left; width: calc(100% - 80px); padding-left: 35px; background-color: transparent; border-width: 0 0 1px 0; }
.setBox .form-edit-box ul.from-data li ul.sub-item li .left-icon{ position: absolute; top: 13px ; left: 0; width: 30px; height: 38px; display: block; text-align: center; line-height: 38px;}
.setBox .form-edit-box ul.from-data li ul.sub-item li .left-icon p{ display: inline-block; color: #929191; }
.setBox .form-edit-box ul.from-data li ul.sub-item li .left-nb{ top: 10px; }
.setBox .form-edit-box ul.from-data li ul.sub-item li .left-checkbox p{ width: 17px; height: 17px; border:2px solid #dedede; }
.setBox .form-edit-box ul.from-data li ul.sub-item li .left-radio p{ width: 17px; height: 17px; border:2px solid #dedede; border-radius: 50%; }
.setBox .form-edit-box ul.from-data li ul.sub-item li a.btn-delete{ position: absolute; top: 10px; right: 0px; width: 40px; height: 40px; display: block; color: #888; line-height: 40px; text-align: center;}
.setBox .form-edit-box ul.from-data li ul.sub-item li a.btn-more-move{ position: absolute; top: 10px; right: 40px; width: 40px; height: 40px; display: block; color: #888; line-height: 40px; text-align: center;}
.setBox .form-edit-box ul.from-data li ul.sub-item li .tool-choose{ min-width: 90px; text-align: center; position: absolute; top: 48px; right: 40px; display: inline-grid; overflow: hidden; border:1px solid #e4e4e4; background-color:#fff; border-radius: 4px; box-shadow: 0 3px 10px rgba(0,0,0,.2); z-index: 100;}
.setBox .form-edit-box ul.from-data li ul.sub-item li .tool-choose a{ cursor: pointer; padding: 10px; width: 100%; display: block; font-size: 0.8rem; border-bottom:1px solid #e4e4e4; }
.setBox .form-edit-box ul.from-data li ul.sub-item li .tool-choose a:last-child{ border:none; }
.setBox .form-edit-box ul.from-data li ul.sub-item li .tool-choose a i{ padding-right: 8px; }
.setBox .form-edit-box ul.from-data li ul.sub-item li .tool-choose a:hover{ background-color: #e4e4e4; }

.setBox .form-edit-box ul.from-data-message{ padding-bottom:30px;}
.setBox .form-edit-box a.add-form-field {text-align: center; color: #777; margin-bottom:10px; background-color: #e8e8e8; display:block; font-size: .813rem; text-align: center; padding:15px 0; }
.setBox .form-edit-box a.add-form-field i{ padding-right: 5px;}
.setBox .form-edit-box a.add-form-field:hover{ opacity: .8; }

.setBox .form-edit-box .btn_switch{ display: inline-block;}
.setBox .form-edit-box .btn_switch p{float: left; line-height: 24px; font-size: 0.813rem; font-weight: bold; margin-right:8px; color: #333;}
.setBox .form-edit-box .btn_switch p.open{ color: #0cc2aa;}
.setBox .form-edit-box .btn_switch input {opacity: 0;position: absolute;top: 0;left: 0;}
.setBox .form-edit-box .btn_switch input:checked ~ .button:before {background-color:#27d0ca;border: 1px solid #27d0ca;}
.setBox .form-edit-box .btn_switch input:checked ~ .button:after {left: 22px;}
.setBox .form-edit-box .switch_type{float: left; position: relative;}
.setBox .form-edit-box .button {display: inline-block;position: relative; height: 22px;-webkit-user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);cursor: pointer;background-color: #eee; border-radius: 22px;}
.setBox .form-edit-box .button:before {content: "";display: inline-block; width: 42px; height: 22px; background-color: #fff; border-radius: 22px; box-sizing: border-box; border: 2px solid #eee; transition: all 0.2s linear; }
.setBox .form-edit-box .button:after {position: absolute; left: 2px; top: 2px; content: ""; display: inline-block; width: 18px; height: 18px; background-color: #fff; border-radius: 18px; transition: all 0.2s linear; box-shadow: 0px 1px 3px #bbb;}

.setBox .form-edit-box .form-type{ width: 100%; padding-bottom: 5px; position: relative; }
.setBox .form-edit-box .form-type .required{ float: left; }
.setBox .form-edit-box .form-type a.delete{ position: absolute; top: 0; right: 0; line-height: 40px; width: 40px; text-align: center; color: #555;}


.setBox .required-checkbox, .setBox .required-radio{ position: relative; float: left; padding-right: 15px; }
.setBox .required-checkbox span, .setBox .required-radio span{ padding-left: 30px; line-height: 39px;  font-size: .813rem; display: block;}
.setBox .required-checkbox input[type="checkbox"], .setBox .required-radio input[type="radio"]  { position:absolute; width: 100%; height: 40px; opacity: 0; cursor: pointer; }
.setBox .required-checkbox label {  position: absolute; left: 5px; top: 11px; width: 17px; height: 17px; background-color: #fff;  border: 2px solid #dddddd; }
.setBox .required-checkbox input:checked+label { background-color: #fff; border: 2px solid #ff3564; }
.setBox .required-checkbox input:checked+label::after { position: absolute; content: ""; width: 5px; height: 10px; top: -1px; left: 4px; border: 2px solid #fff; border-top: none; border-left: none; transform: rotate(45deg); }

.setBox .required-radio label {  position: absolute; left: 5px; top: 11px; width: 17px; height: 17px; border-radius: 50%;  background-color: #fff;  border: 2px solid #dddddd; }
.setBox .required-radio input:checked+label { background-color: #fff; border: 2px solid #27d0ca; border-radius: 50%;}
.setBox .required-radio input:checked+label::after { position: absolute; content: ""; width: 9px; height: 9px; top: 2px; left: 2px; background-color: #27d0ca; border-radius: 50%; }

.setBox .required-checkbox input:checked+label.checkbox_style, .setBox .required-radio input:checked+label.radio_style{  border-color: #27d0ca;}
.setBox .required-checkbox input:checked+label.checkbox_style::after, .setBox .required-radio input:checked+label.radio_style::after{ border-color: #27d0ca;}
.setBox .form-edit-box .required-checkbox{ width: 100%; max-width: 150px;}

.setBox .form-edit-box .form-type .styled-select{ float: left; border-radius: 4px; max-width: 200px;}
.setBox .form-edit-box .form-type .styled-select select{ padding: 6px 10px; font-size: .813rem;}

.setBox .text-editbox .preview-text{ border: 1px solid #e0e0e0; width: 100%; padding: 10px; color: #333; min-height: 120px; max-height: 120px; overflow-x: auto; cursor: text; }
.setBox .text-editbox .preview-text p { min-height: 98px; }

/*upload-image-container*/
.setBox .upload-image-container p.the_reminder{ text-align: center; }
.setBox .upload-image-container ul.top-tap{ padding-bottom: 15px; }
.setBox .upload-image-container .img_upload p{ line-height: 1.3rem; }
.setBox .upload-image-container .img_upload p span{ border-radius: 4px; border: 1px solid #e5e5e5; padding: 0px 6px; display: inline-block; margin-top: 5px;}
.setBox .upload-image-container .img_upload a{ max-width: initial; }
.setBox .upload-image-container .img_upload a:hover span{ border-color: #999; }

.setBox .upload-image-container ul.gallery-tag{ width: 100%; text-align: center; padding: 20px 5px; background-color: #f9f9f9; border-bottom: 1px solid #e4e4e4;}
.setBox .upload-image-container ul.gallery-tag li{ display: inline-block; padding: 3px; }
.setBox .upload-image-container ul.gallery-tag li p {font-size: 0.813rem;}
.setBox .upload-image-container ul.gallery-tag li a{ border-radius: 4px; min-width: 90px; background-color: #aba2a2; color: #fff; padding:6px 8px; display: inline-block; }
.setBox .upload-image-container ul.gallery-tag li a:hover{ background-color: #777; }
.setBox .upload-image-container ul.gallery-tag li a.selected{ background-color: #333; }

.setBox .upload-image-container ul.gallery-img-list{ background-color: #f9f9f9; padding: 10px 10px 20px 10px;}
.setBox .upload-image-container ul.gallery-img-list li.img-url{ border: 2px solid transparent; cursor: pointer; float: left; position: relative; padding: 0; width:calc(20% - 20px); height: 100px; margin:10px;  display: block; background-size: cover; background-repeat: no-repeat; background-position: center center;}
.setBox .upload-image-container ul.gallery-img-list li.img-url:hover{ opacity: 0.8; }
.setBox .upload-image-container ul.gallery-img-list li.img-url p.img-source{ font-size: 0.688rem ;position: absolute; bottom: 4px; right: 4px; color: #fff; z-index: 10; opacity: .7;}
.setBox .upload-image-container ul.gallery-img-list li.img-url p.img-source a{ color: #fff; padding-right: 5px; }
.setBox .upload-image-container ul.gallery-img-list li.img-url p.img-source a:hover{ text-decoration: underline; }

.setBox .upload-image-container ul.gallery-img-list li.img-url span{ opacity: 0; font-size: 1.5em; text-shadow: 0 2px 3px rgba(0,0,0,.3); background-color: rgba(0,0,0,.4); width: 100%; height: 100%; display: block; color: #27d0ca; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.setBox .upload-image-container ul.gallery-img-list li.btn_in{ border: 2px solid #27d0ca; }
.setBox .upload-image-container ul.gallery-img-list li.btn_in span{ opacity: 1; }
.setBox .upload-image-container ul.gallery-img-list li.btn_in:hover{ opacity: 1; }

/*page*/
.setBox ul.pageBox{width: 100%; padding: 20px 0; text-align: center;}
.setBox ul.pageBox li{display: inline-block; margin: 0 3px;}
.setBox ul.pageBox li p{font-size: 0.875rem; color: #666;}
.setBox ul.pageBox li p a{ padding:8px 14px; color: #666; display: inline-block;}
.setBox ul.pageBox li p a:hover{color: #27d0ca;}
.setBox ul.pageBox li p a.btn_in{ color: #27d0ca; font-weight: bold;}
.setBox ul.pageBox li p a.border{border: 1px solid #c9c9c9; font-size: 0.813rem;}
.setBox ul.pageBox li p a.border:hover{border-color: #c9c9c9;}

/*text-edit-toolbar*/
.setBox .text-editbox ul.text-edit-toolbar{ width: 100%; text-align: center; padding:15px 0 30px 0; }
.setBox .text-editbox ul.text-edit-toolbar li{ margin:5px; display: inline-block; padding: 0; vertical-align: middle; position: relative; }
.setBox .text-editbox ul.text-edit-toolbar li.no-margin { margin: 0; }
.setBox .text-editbox ul.text-edit-toolbar li a:hover{ background-color: #e4e4e4; }
.setBox .text-editbox ul.text-edit-toolbar li a.circleline{ position: relative; color: #333; cursor: pointer; display: block; border:1px solid #e4e4e4; border-radius: 50%; text-align: center; line-height: 45px; height: 45px; width: 45px; }
.setBox .text-editbox ul.text-edit-toolbar li a.btn_in{ background-color: #cccccc; }
.setBox .text-editbox ul.text-edit-toolbar li .big{ position: absolute; top: 15px; left: 10px; }
.setBox .text-editbox ul.text-edit-toolbar li .small{ position: absolute; font-size:0.5rem; top: 9px; right: 12px; }

/*.choose-fontsize*/
.setBox .text-editbox ul.text-edit-toolbar li .choose-fontsize{ position: absolute; top: 42px; left: 0; overflow: hidden; min-width: max-content; border:1px solid #e4e4e4; background-color:#fff; border-radius: 4px; box-shadow: 0 3px 10px rgba(0,0,0,.2); z-index: 100;}
.setBox .text-editbox ul.text-edit-toolbar li .choose-fontsize li { border-bottom:1px solid #e4e4e4; margin: 0; display: block; vertical-align: initial; position: initial;}
.setBox .text-editbox ul.text-edit-toolbar li .choose-fontsize li:last-child{ border:none; }
.setBox .text-editbox ul.text-edit-toolbar li .choose-fontsize li a{ text-align: left; cursor: pointer; display: block; font-size: 0.8rem; border-radius: 0; padding: 0 10px ; line-height:35px; min-width: 60px; height: 35px; }

/*.choose-fontcolor*/
.setBox .text-editbox ul.text-edit-toolbar li .choose-fontcolor{ width: 204px; position: absolute; top: 42px; left:-81px; display: inline-grid; overflow: hidden; border:1px solid #e4e4e4; background-color:#fff; border-radius: 4px; box-shadow: 0 3px 10px rgba(0,0,0,.2); z-index: 100;}
.setBox .text-editbox ul.text-edit-toolbar li .choose-fontcolor a.default{ cursor: pointer; padding: 10px; width: 100%; display: block; font-size: 0.8rem; border-bottom:1px solid #e4e4e4; }
.setBox .text-editbox ul.text-edit-toolbar li .choose-fontcolor ul.the-colors{ width:100%; padding:5px 10px; }
.setBox .text-editbox ul.text-edit-toolbar li .choose-fontcolor ul.the-colors li { float: left; border-radius:50%;  margin:3px; }
.setBox .text-editbox ul.text-edit-toolbar li .choose-fontcolor ul.the-colors li a { cursor: pointer; border-radius: 50%; display: block; width: 20px; height: 20px; }
.setBox .text-editbox ul.text-edit-toolbar li .choose-fontcolor ul.the-colors li a i { padding: 2px; }
.setBox .text-editbox ul.text-edit-toolbar li .choose-fontcolor ul.the-colors li a i.black { color: #000000; }
.setBox .text-editbox ul.text-edit-toolbar li .choose-fontcolor ul.the-colors li a i.white { color: #FFFFFF; }

.setBox .text-editbox ul.text-edit-toolbar li .choose-fontcolor .user-customize{ width: 100%; border-top:1px solid #e4e4e4; padding: 10px 0; }
.setBox .text-editbox ul.text-edit-toolbar li .choose-fontcolor .user-customize p{ font-size: 0.8rem; padding: 5px; line-height: 25px; }
.setBox .text-editbox ul.text-edit-toolbar li .choose-fontcolor input.color-code{ margin: 0 10px; width: calc(100% - 20px); padding: 5px 10px; line-height:20px; text-align: center; }


/*------------- 右 邊 : 編 輯 器 工 具 ---------------*/

.edit_main_contents .section-wrapper{ width: 100%; position: relative; }
.edit_main_contents .section-wrapper .section-editor-tools{ position: absolute; top: 10px; right: 10px; font-size: 0.918rem; z-index: 50; }

.edit_main_contents .section-wrapper .section-editor-tools .btn_item{ width: 100%; text-align: right;}
.edit_main_contents .section-wrapper .section-editor-tools .btn_item a{ font-size: 0.918rem; cursor: pointer; color: #555; box-shadow:5px 5px 15px rgba(0, 0, 0, 0.2), 0px 5px 18px rgba(0, 0, 0, 0.22); min-width: 90px; margin-left: 10px; text-align: center;  line-height: 30px; padding: 5px 10px 5px 15px; /*border:1px solid #d4d4d4;*/ border-radius: 50px; background-color: #ffffff; display: inline-block;}
.edit_main_contents .section-wrapper .section-editor-tools .btn_item a:hover{/* color: #12ccc4 ; background-color: #ff5186; color: #fff;*/}
.edit_main_contents .section-wrapper .section-editor-tools .btn_item i{padding-left: 5px; display: inline-block; cursor: pointer;}

.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box{ width: 100%; width: 250px; display: none; position: absolute; top: 50px; right: 0; z-index: 6;  padding: 5px 10px 10px 10px; box-shadow:5px 5px 15px rgba(0, 0, 0, 0.2), 0px 5px 18px rgba(0, 0, 0, 0.22); /*border:1px solid #d4d4d4;*/ border-radius: 15px; background-color: #ffffff;}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box ul.top_title{ width: 100%; text-align: center; padding-bottom: 5px; }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box ul.top_title li{ display: inline-block; width: calc(50% - 4px); }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box ul.top_title li p a{ color: #333; padding: 6px 15px; cursor: pointer; border-bottom: 2px solid transparent; display: block;}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box ul.top_title li p a.btn_in{ color: #0cc2aa; border-color: #0cc2aa;}

.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box ul.background_image{ width: 100%; padding: 0 0 5px 0; }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box ul.background_image li{ float: left; box-sizing: initial; width:calc(31.33% - 4px); height: 40px; display: block; border: 2px solid #ffffff; cursor: pointer; margin: 2.5px 1%; background-position: center center; background-repeat: no-repeat; background-size: cover; border-radius: 5px; }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box ul.background_image li.btn_in{ border-color: #0cc2aa;}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box ul.background_image li:hover{ border-color: #0cc2aa;}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box ul.background_image li p.more{ text-align: center; font-size: 0.688rem; line-height: 40px; }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box ul.background_image li p.more i{padding-right: 5px;}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box ul.background_image li p.more a{ background-color: #555; color: #fff; display:initial;/* border-radius: 34px;*//*padding: 6px 10px;*/ border-radius: 5px; display: block; /*  margin-top: 5px; */ }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .select-bg-videos{display:none;}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .select-bg-videos ul li{ position: relative;font-size: 0.688rem;}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .select-bg-videos ul li i{ position: absolute; bottom: 5px; left: 5px; color: #fff; z-index: 10; }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .select-bg-videos ul li::after{content: ""; position: absolute; width:100%; height:40px; top: 0;left:0px; display: block;z-index: 5; background-color: rgba(0,0,0,.35);}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .select-bg-videos ul li:last-child::after{ display: none; }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .select-bg-videos ul li:last-child i{ position: initial; }

.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box ul.text_position li{ text-align: center; line-height: 40px;  color: #fff; position: relative;}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box ul.text_position li p {position: absolute; width: 100%; height: 100%; z-index: 10; /*color: #fff;*/ }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box ul.text_position li::after{content: ""; position: absolute; width: 100%; height:40px; top: 0;left: 0; display: block;z-index: 5;}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box ul.text_position li { background-image: url(//img.holkee.com/main/br_mob_show.jpg); }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box ul.text_position li.bg-k::after{ background-color: rgba(0,0,0,.5); border-radius: 5px; }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box ul.text_position li.bg-w::after{ background-color: rgba(256,256,256,.5); border-radius: 5px; }

.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .btn{ width: 100%;  position: relative;}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .btn p{ text-align: center; font-size: 0.75rem; }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .btn a{ color: #333; width:calc(50% - 3px); float: left; cursor: pointer; line-height: 32px; display: block; border: 1px solid #d4d4d4; border-radius: 4px; background-color: #ffffff;}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .btn a.FR{ float: right; }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .btn a:hover{ background-color: #333; color: #fff; }

.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .btn .upload_video{ display: none; position: absolute; position: absolute; width:320px; top: 0; right: 235px; background-color: #333; padding: 10px 15px; border-radius: 4px; z-index: 10; }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .btn .upload_video p{ text-align: left; color: #fff; }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .btn .upload_video p.note{ font-size: 0.813rem; color: #ececec; line-height: 1.125rem;}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .btn .upload_video p.note span{ color: #ffad39; }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .btn .upload_video .link{width: 100%; padding: 5px 0;}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .btn .upload_video .link input{ float: left; width: 100%; color: #333; max-width: calc(100% - 75px); background-color: #e6e4e4; padding: 3px 8px; height: 34px; line-height: 34px; border-radius: 4px 0 0 4px;}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .btn .upload_video .link input::placeholder{ font-size: 0.813rem; color: #959595; }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .btn .upload_video .link button{ float: left; color: #12ccc4; cursor: pointer; text-align: right; background-color: #0cc2aa; width: 75px; height: 34px; text-align: center; color: #fff; border-radius: 0 4px 4px 0;}

.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box p.sub_title{ font-size: 0.75rem ; padding-top: 15px}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .save_main{ position: absolute; left: 0; bottom: 0; width: 100%; border-radius: 0 0 15px 15px; overflow: hidden;}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .save_main p{ font-size: 0.918rem;}
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .save_main p a{ width: 50%; border-radius: 0; color: #fff; border:none; background-color: #b1b1b1; line-height: 40px; }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .save_main p a:hover{ background-color: #b1b1b1; opacity: .9; }
.edit_main_contents .section-wrapper .section-editor-tools .bg-editor-Box .save_main p a.done{ background-color: #0cc2aa; color: #fff; }

.edit_main_contents .section-wrapper .productBox .slider{ width: 100%; height: 300px; display: block; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center }
.edit_main_contents .section-wrapper .productBox .slider p span{ padding:12px  20px; background-color: rgba(0,0,0,.8); color: #fff; border-radius: 4px;  display: inline-block; }

.edit_main_contents .section-wrapper .mapBox .map_default{ width: 100%; height: 100%; max-height: 400px; display: block; background: url(//img.holkee.com/main/default_google_map.jpg) center center no-repeat; background-size: cover; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center }
.edit_main_contents .section-wrapper .mapBox .map_default p span{ padding:12px  20px; background-color: rgba(0,0,0,.8); color: #fff; border-radius: 4px; display: inline-block; }

.edit_main_contents .section-wrapper .map_box .ContentsBox{ width: 100%; max-width: 100%; }
.edit_main_contents .section-wrapper .map_box .map360{ width: 100%; height: 440px; display: block; background: url(//img.holkee.com/main/default_map360.png) center bottom no-repeat; background-size: cover; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center }
.edit_main_contents .section-wrapper .map_box .map360 p span{ padding:12px  20px; background-color: rgba(0,0,0,.8); color: #fff; border-radius: 4px;  display: inline-block; }

.edit_main_contents .first-section .section-editor-tools { top: 74px; }
.edit_main_contents .no-section { padding-top: 100vh; }

/*premium*/
.edit_main_contents .section-wrapper .premium-section{ position: absolute; top: 15px; left: 15px; padding-bottom: 10px; width: 150px; z-index: 10; border-radius: 5px; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), 0px 5px 18px rgba(0, 0, 0, 0.22); background: rgb(187,116,241); background: -moz-linear-gradient(45deg, rgba(187,116,241,1) 0%, rgba(118,234,226,1) 100%); background: -webkit-linear-gradient(45deg, rgba(187,116,241,1) 0%,rgba(118,234,226,1) 100%); background: linear-gradient(45deg, rgba(187,116,241,1) 0%,rgba(118,234,226,1) 100%); filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bb74f1', endColorstr='#76eae2',GradientType=1 );}
.edit_main_contents .section-wrapper .premium-section h3{ color: #fff; text-align: center; font-weight: normal; font-size: 0.918rem; padding: 8px 15px; padding-bottom: 5px; border-bottom: 1px solid #fff; }
.edit_main_contents .section-wrapper .premium-section h3 i{ padding-right: 7px; }
.edit_main_contents .section-wrapper .premium-section p{ color: #fff; font-weight: bold; text-align: center; font-size: 0.813rem; padding: 8px 15px 8px 15px; }
.edit_main_contents .section-wrapper .premium-section p.btn{ padding: 0; }
.edit_main_contents .section-wrapper .premium-section p.btn span{ min-width: 95px; background-color: #ffc107; display: inline-block; border-radius: 20px; padding: 5px 15px; }
.edit_main_contents .section-wrapper .premium-section:hover p.btn span{ background-color: #ffba07; }

.edit_main_contents .first-section .premium-section{top: 75px;}

@media (max-width:1000px){
	.setBox .upload-image-container ul.gallery-img-list li.img-url{ width: calc(25% - 20px);}	
}
@media (max-width:900px){
	.edit_main_contents .section-wrapper .map_box .map360{ height: 360px; }
}
@media (max-width:800px){
	.slide_Photo ul.Photo_list{ text-align: center; }
	.slide_Photo ul.Photo_list li .photo{ width: 140px; height: 140px; }
	.slide_Photo ul.Photo_list li .product_fillinBox{ width: 140px; }
}
@media (max-width:750px){
	.setBox ul.socialBox_list li, .edit_button ul li{ width: 100%; float: none;  padding: 0 0 10px 0; }
	.setBox .upload-image-container ul.gallery-img-list li.img-url{ width: calc(33.3% - 20px);}	
}
@media (max-width:710px){
	.slide_Photo ul.section_list li{ width: 100%; max-width: 380px; float: none; margin: 0 auto; }
}
@media (max-width:600px){
	.setBox .fillinBox .copy_link a.copy{ font-size: 0.813rem; }
	.setBox .form-edit-box ul.from-data li{ padding: 15px 0; }
	.setBox .form-edit-box a.add-form-field{ padding: 12px 0;}
	.setBox .required-checkbox{padding-right: 10px;}
	.setBox ul.shareBox_list li{ width: 42%; max-width: 140px; text-align: left; margin: 0; }
	.slide_Photo ul.Photo_list li .photo{ width: 130px; height: 130px; }
	.slide_Photo ul.Photo_list li .product_fillinBox{ width: 130px; }
	.edit_main_contents .section-wrapper .map_box .map360{ height: 300px; }
	.setBox .upload-image-container ul.gallery-tag{ padding: 12px 5px;}
	.setBox .upload-image-container ul.gallery-tag li a{min-width: initial; padding: 6px 12px;}
	.setBox .upload-image-container ul.gallery-img-list li.img-url{ width: calc(50% - 20px); margin: 5px 10px;}	
	.setBox ul.pageBox li p{ font-size:0.813rem; }
	.setBox ul.pageBox li p a{ padding: 4px 6px;}
}
@media (max-width: 500px) {
    .setBox .fillinBox .multi-col { display: block; }
    .setBox .fillinBox .multi-col .less140 { min-width: inherit; }
    .edit_main_contents .section-wrapper .premium-section h3{ font-size: 0.813rem;}
    .edit_main_contents .section-wrapper .premium-section p{ font-size: 0.750rem; }
}
@media (max-width:400px){
	.slide_Photo ul.section_list li .s_view_productBox ul.goods li:nth-child(3),
	.slide_Photo ul.section_list li .s_view_socialBox ul.follow_us_icon li:nth-child(6){ display: none; }
}
@media (max-width:360px){
	.slide_Photo ul.section_list li .s_view_socialBox ul.follow_us_icon li:nth-child(5){ display: none; }
}

/* 功能元件 */

.f-btn-add { min-height: 30px; padding: 0 20px; text-align: center; }

.f-text-not-set { display: none; text-align: center; }
.f-text-not-set span { padding: 12px 20px; background-color: rgba(0,0,0,.8); color: #fff; border-radius: 4px; display: inline-block; }

.f-edit-text { -webkit-user-modify: read-write-plaintext-only; }
.f-edit-text[placeholder]:empty::before { content: attr(placeholder); color: #000; cursor: text; }
.f-edit-text[placeholder]:empty:focus::before { content: ""; }

.f-upload-image { width: 100%; height:150px; }
.f-upload-image .f-loader { margin: 0px auto; }

.f-daggle { user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
.f-dragover { opacity: 0.3; }

.f-site-menu { color: #FFFFFF; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.f-site-menu:hover { overflow-x: auto; overflow-y: hidden; text-overflow: initial; }
