@import url(//fonts.googleapis.com/earlyaccess/notoserifgeorgian.css);
@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
input, textarea { margin:0; padding:0;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img { border:0;}
ol, ul { list-style:none;}
abbr, acronym { border:0;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix {height: 1%;}
*:first-child + html .clearfix { min-height: 1%;}

body, h1, h2, h3, h4, h5, h6, p {font-family:'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif; font-weight: normal; color: #000;}
p{font-size: 0.938em;}
a{  text-decoration:none; outline: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
a:hover{ text-decoration:none;}
select, input, textarea, button {  font-family:'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif;}
*:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
/*html, body{ height: 100%; }*/
body{font-size: 100%;}

/*===== start ======*/
p.go-top{  position:absolute; right:3%; bottom:-60px; cursor:pointer; z-index:5; text-align: center; font-size:0.750rem;}
p.go-top a{ width:45px; height:45px; color: #fff; padding-top: 20px; border-radius: 50px; cursor: pointer; display:block; background: url(../images/img_top.png) center center no-repeat #333; background-size: contain; }
p.go-top a:hover{ opacity:0.9;}

.contents-box{ width: calc(100% - 40px); max-width: 1400px; margin: 0 auto; min-width: 320px;}

.top-header{ width: 100%; padding: 10px 0; min-height: 20px;  position: fixed; z-index: 12;}
.top-header h1.logo{ float: left; width: 138px;  display: block; text-indent: -9999px; }
.top-header h1.logo a{ display: block; width: 100%; height: 38px; background-image: url(../images/logo_w.png); background-position: center center; background-repeat: no-repeat; background-size: contain;}
.top-header .Menu ul{ float: right; }
.top-header .Menu ul li{ float: left;}
.top-header .Menu ul li a{ color: #333; cursor: pointer; line-height: 38px;}
.top-header .Menu ul li a:hover{ color: #12ccc4;}
.top-header .Menu ul li p.login{ font-weight: bold;  }
.top-header .Menu ul li p.login span{ padding: 0 15px; }
.top-header .Menu ul li p.login a{ color: #333; border:1px solid #333; padding: 0px 20px; border-radius: 40px;}
.top-header .Menu ul li p.login a:hover{ background-color: #12ccc4; color: #fff; border-color: #12ccc4; }

.top-header-bg{ background-color: #fff; border-bottom: 2px solid #27d0ca;}
.top-header-bg  h1.logo a{ background-image: url(../images/logo.png); }

.top-header ul.userBox{float: right;  text-align: right;}
.top-header ul.userBox li{ display: inline-block; margin: 0 10px; position: relative; }
.top-header ul.userBox li p{font-weight: normal; color: #333;}
.top-header ul.userBox li span.bell_nb{display: inline-block;  font-size:0.750rem; font-weight: 700; line-height: 1;  color:#fff; text-align: center; white-space: nowrap; vertical-align: baseline; background-color:#ffad39; padding: 3px 7px; border-radius: 10px;}
.top-header ul.userBox li a{display: block; cursor: pointer;}
.top-header ul.userBox li a:hover p{ color: #333; }
.top-header ul.userBox li.profile_photo a{position: relative; min-height: 25px; display: inline-block; min-width: 36px;}
.top-header ul.userBox li.profile_photo p{padding-left: 46px;}

.top-header ul.userBox li .header_profile_img{position: absolute; left: 0; top: 2px; width: 36px; height: 36px; border-radius: 50%; overflow: hidden; }
.top-header ul.userBox li .notificationBox{ position: absolute; display: none; top: 40px; right: 0; width: 320px; border: 1px solid #dfdfdf; border-radius: 4px; background-color: #fff; z-index: 20; box-shadow: 0 3px 10px rgba(0,0,0,.2);}
.top-header ul.userBox li .notificationBox .listBox{ height: 300px; overflow-y: scroll;}
.top-header ul.userBox li .notificationBox .notification-item{ width: 100%; border-bottom: 1px solid #dfdfdf; cursor: pointer; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms}
.top-header ul.userBox li .notificationBox .notification-item:hover{background-color: #f2f2f2;}
.top-header ul.userBox li .notificationBox .status-unread{ background-color: #fff8ec; }
.top-header ul.userBox li .notificationBox .status-unread:hover{ background-color: #fff9f0; }
.top-header ul.userBox li .notificationBox .left-box{ float: left; width: initial; text-align: center; padding: 20px;}
.top-header ul.userBox li .notificationBox .left-box .photo{ width: 50px; height: 50px; border-radius: 50%; overflow: hidden; margin: 0 auto; }
.top-header ul.userBox li .notificationBox .notification-content{ float: left; width: calc(100% - 100px); padding: 15px 0;}
.top-header ul.userBox li .notificationBox .notification-content p{ line-height: 24px; text-align: justify; }
.top-header ul.userBox li .notificationBox .notification-content p.time{ color: #999999; font-size:0.750rem; }
.top-header ul.userBox li .notificationBox .top_all_read{ width: 100%; text-align: right; border-bottom: 1px solid #dfdfdf; }
.top-header ul.userBox li .notificationBox .top_all_read p{ display: inline-block; padding: 0 12px; font-size:0.813rem; cursor: pointer;}
.top-header ul.userBox li .notificationBox .top_all_read p a{ color: #333; }
.top-header ul.userBox li .notificationBox .top_all_read p a:hover{color: #27d0ca;}
.top-header ul.userBox li .notificationBox p.more{ width: 100%; font-size: 0.813rem; font-weight: bold; text-align: center; border-top: 1px solid #dfdfdf;}
.top-header ul.userBox li .notificationBox p.more a{ color: #333; }
.top-header ul.userBox li .notificationBox p.more a:hover{ color: #27d0ca; }

.top-header ul.userBox li .theUserBox{ position: absolute; overflow-y: hidden; display: none; top: 40px; right: 50%; margin-right: -75px; width: 150px; border: 1px solid #dfdfdf; border-radius: 4px; background-color: #fff; z-index: 100; box-shadow: 0 3px 10px rgba(0,0,0,.2);}
.top-header ul.userBox li .theUserBox ul li{ width: 100%; padding: 0; text-align: center; position: inherit; display: block; margin: 0 ; border-top: 1px solid #dfdfdf; cursor: pointer;}
.top-header ul.userBox li .theUserBox ul li:first-child{ border: none; }
.top-header ul.userBox li .theUserBox ul li p{padding: 0; line-height: 48px;font-weight: bold;}
.top-header ul.userBox li .theUserBox ul li p a{color: #333; width: 100%;}
.top-header ul.userBox li .theUserBox ul li p a:hover{ color: #27d0ca;  /*background-color: #f2f2f2;*/}
.top-header ul.userBox li .theUserBox ul li.mob_show{display: none;}


.home-content{ width: 100%;}
.home-content .main-banner{ height: 100vh; min-height: 600px; overflow: hidden; background: url(../images/bg_home_banner.jpg) center bottom no-repeat; background-size: cover; /*background-attachment: fixed;*/ text-align: center; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.home-content .main-banner .info-box{ padding-bottom: 15%; }
.home-content .main-banner h2.main-title {font-size: 2.813rem; font-family: 'Noto Serif Georgian', "微軟正黑體", sans-serif;}
.home-content .main-banner h2.main-title span{ display: inline-block; position: relative; padding: 0 115px; }
.home-content .main-banner h2.main-title span.free{ position: absolute;  padding: 20px; width: 104px; height: 104px; background: url(../images/img_bg_dialog.png) center center no-repeat; background-size: contain; text-align: center; top: -20px; right: 0px; font-size: 1.875rem; line-height: 34px; color: #ff4f68; height: 105px; display: inline-block; background: url(../images/img_bg_dialog.png) center center no-repeat; background-size: cover; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}

/*.home-content .main-banner h2.main-title span.free{ position: sticky; margin-left: 20px; padding: 20px; width: 104px; height: 104px; text-align: center; bottom: 0px; background-color: #fff; border-radius: 50%; right: -120px; font-size: 1.875rem; line-height: 34px; color: #ff4f68; height: 105px; display: inline-block; background: url(../images/img_bg_dialog.png) center center no-repeat; background-size: cover; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.home-content .main-banner h2.main-title span.free svg{ position: absolute; left: 13px; bottom: 0; }
.home-content .main-banner h2.main-title .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
*/
.home-content .main-banner p.sub-title{ font-size: 1.063rem; line-height: 32px; max-width:700px; margin: 0 auto;  padding: 30px 0;}
.home-content p.btn{ font-size: 1.063rem; }
.home-content p.btn a{ color: #fff; border:2px solid #fff; display: inline-block; min-width: 160px; padding:8px 15px; border-radius: 50px; }
.home-content p.btn a:hover{ background-color: #fff; color: #333; }

.features-box{ width: 100%; padding: 30px 0; }
.features-box .f-box{ width: 100%; height: 500px; text-align: center; }
.features-box .f-box .info-box{ float: left; width: 50%; height:100%; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.features-box .f-box .imgbox{ float: left; width: 50%; height: 100%; display: block; background-repeat: no-repeat; background-position: center center; background-size: contain; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
.features-box .f-box .imgbox:hover{ background-size: 98%; }
.features-box .f-box h3{ font-size: 1.313rem; padding-bottom: 30px; font-weight: bold; font-family: 'Noto Serif Georgian', "微軟正黑體", sans-serif;;}
.features-box .f-box h3.icon-amp{ padding-top: 80px; position: relative;}
.features-box .f-box h3.icon-amp::after{ position: absolute; content: ""; width: 62px; height: 62px; top: 0; left:calc(50% - 31px); display: block; background: url(../images/icon_amp.png) center center no-repeat; background-size: cover; }
.features-box .f-box p{ font-size: 1.063rem; color: #333; max-width: 520px; line-height: 28px; margin: 0 auto;}
.features-box .f-box .img-01{ background-image: url(../images/imgbox_01.png); }
.features-box .f-box .img-02{ float: right; background-image: url(../images/imgbox_02.png); }
.features-box .f-box .img-03{ background-image: url(../images/imgbox_03.png); }
.features-box .f-box .img-04{ float: right; background-image: url(../images/imgbox_04.png); }
.features-box .f-box .img-05{ background-image: url(../images/imgbox_05.png); }
.features-box .f-box .img-06{ background-image: url(../images/imgbox_06.png); }


.ecshop-info{ width: 100%; text-align: center; padding-bottom: 50px; }
.ecshop-info .topbanner { width: 100%; height: 352px;  background-color: #d7c1e8;}
.ecshop-info .topbanner .imgbox{ width: 100%; height: 352px; background: url(../images/img_bg_ecshop.png) center right no-repeat; background-size: contain; position: relative;}
.ecshop-info .topbanner .imgbox::after{ content: ""; position: absolute; bottom: 0; left: 0; width:100%; height: 450px; display: block; background:url(../images/imgbox_05.png) center left no-repeat; background-size: contain; }
.ecshop-info h3, .website-info h3{ font-size: 1.313rem; padding:50px 0 30px 0; font-weight: bold; font-family: 'Noto Serif Georgian', "微軟正黑體", sans-serif;; position: relative;}
.ecshop-info h3::after, .website-info h3::after{ content: ""; position: absolute; bottom: 0; left: calc(50% - 75px); width: 150px; height: 3px; display: block; background-color: #27d0ca; }

.ecshop-info p.sub-title, .website-info p.sub-title{ color: #333; font-size:1.063rem; line-height: 32px; max-width:700px; margin: 0 auto;  padding: 30px 0;}
.ecshop-info p.btn, .website-info p.btn{ font-size: 1.063rem; font-weight: bold; text-align: center; }
.ecshop-info p.btn a, .website-info p.btn a{ color: #333; border:2px solid #333;}
.ecshop-info p.btn a:hover, .website-info p.btn a:hover{ background-color: #333; color: #fff; }

.ecshop-info ul.info{ width: 100%; padding:80px 0 30px 0; }
.ecshop-info ul.info li{ width: 33%; float: left; padding: 0 30px; }
.ecshop-info ul.info li p{ line-height: 28px; color: #333; position: relative; padding-top: 150px; }
.ecshop-info ul.info li p::after{ content: ""; position: absolute; width: 200px; height: 120px; display: block; top: 0; left: calc(50% - 100px); background-size: contain; background-repeat: no-repeat; background-position: center center;}
.ecshop-info ul.info li p.icon_01::after{ background-image: url(../images/img_icon_ecshop_01.png); }
.ecshop-info ul.info li p.icon_02::after{ background-image: url(../images/img_icon_ecshop_02.png); }
.ecshop-info ul.info li p.icon_03::after{ background-image: url(../images/img_icon_ecshop_03.png); }

.website-info{ padding:0px 0 150px 0; text-align: center;  }

/*footer*/
.footer-box{ width: 100%; background-color: #333; padding: 35px 0;}
.footer-box p{ color: #fff; letter-spacing: 1px;}
.footer-box a{ color: #fff;}
.footer-box a:hover{ text-decoration: underline; }
.footer-box .l-Box{ float: left;}
.footer-box p.logo{ position: relative; padding-top: 45px; font-size:0.938rem; }
.footer-box p.logo::after{ content: ""; position: absolute; top: 0; left: 0; width: 120px; height: 36px; display: block; background: url(../images/logo.png) center center no-repeat; background-size: cover; }
.footer-box p.copyright{ font-size: 0.688rem; padding:30px 0 15px 0; color: #7e7e7e; }

.footer-box .otherbox{ float: right; max-width: 400px; }
.footer-box .otherbox p.other_link{ padding-bottom: 15px;  text-align: right;}
.footer-box .otherbox p.other_link a{ margin-left:35px; color: #fff; display: inline-block; }

.footer-box .otherbox p{ font-size: 0.875rem; color: #9e9e9e; text-align: right; line-height: 26px; }
.footer-box .otherbox p span{ font-size: 0.750rem; }
.footer-box .otherbox p a{ color: #9e9e9e;}
.footer-box .otherbox ul.follow-us{ text-align: right; padding: 10px 0;}
.footer-box .otherbox ul.follow-us li{display: inline-block; margin: 0 15px;}
.footer-box .otherbox ul.follow-us li a{ color: #fff; font-size: 1.375rem;}
.footer-box .otherbox ul.follow-us li a:hover{opacity: .8;}

/*footer end*/


/*==== RWD ====*/

@media (max-width:1360px){
	.ecshop-info .topbanner .imgbox{ background-position: 130% center; }
	}
@media (max-width:1200px){
	.contents-box{ width:calc(100% - 40px);}
	.topbanner .contents-box{ width: 100%; }
}

@media (max-width:1000px){
	.features-box .f-box{ height:400px;  }
	.ecshop-info .topbanner, .ecshop-info .topbanner .imgbox{ height:280px;}
	.ecshop-info .topbanner .imgbox::after{ height: 360px; }
	.ecshop-info .topbanner .imgbox{ background-position: 140% center; }
}

@media (max-width:900px){
	.ecshop-info ul.info li p{ padding-top: 120px;}
	.ecshop-info ul.info li p::after{ width: 160px; left: calc(50% - 80px); }
	.features-box .f-box{ height: 350px; }
}

@media (max-width:900px){
	.features-box .f-box{ height: 300px; }
}
@media (max-width:850px){
	.home-content .main-banner .info-box{ padding: 0; }
	.home-content .main-banner h2.main-title span{ padding: 0 ; }
	.home-content .main-banner h2.main-title span.free{ top: -114px; left: 50%; }
	.ecshop-info{ padding-top: 200px;}
	.ecshop-info .topbanner .imgbox{ background-image: none; }
	.ecshop-info .topbanner .imgbox::after{ background-position: center bottom; }
	.ecshop-info .topbanner, .ecshop-info .topbanner .imgbox{ height: 140px; }
}
@media (max-width:750px){
	.home-content .main-banner h2.main-title{ font-size: 2.500em;}
	.home-content .main-banner h2.main-title span.free{ font-size: 1.563rem }
	.ecshop-info ul.info li{ width: 100%; padding-bottom: 30px; }
	.features-box .f-box{ height: initial; padding-bottom: 40px; }
	.features-box .f-box .imgbox{ width: 100%; height: 350px;}
	.features-box .f-box .imgbox:hover{ background-size: contain; }
	.features-box .f-box .info-box{ width: 100%; }
}

@media (max-width:700px){
	.ecshop-info{ padding-top: 150px;}
	.footer-box .l-Box{ width: 100%; padding-top: 35px; }
	.footer-box .otherbox{ width: 100%; max-width: initial; }
	.footer-box .otherbox p.other-link, .footer-box .otherbox p{ text-align: center; }
	.footer-box .otherbox p.other-link a{ margin: 0 20px; }
	.footer-box .otherbox ul.follow-us{ text-align: center; }
	.footer-box p.logo{ text-align: center; }
	.footer-box p.logo::after{ left: calc(50% - 60px); }
	.footer-box p.copyright{ text-align: center; padding: 15px 0; }
}
@media (max-width:600px){
	.home-content .main-banner p.sub-title{ padding: 15px 0; }
	.home-content .main-banner p.sub-title, .features-box .f-box p, .ecshop-info p.sub-title, .website-info p.sub-title{ font-size: 0.938rem; line-height: 28px;}
	.home-content .main-banner{ min-height: 400px; }
	.home-content .main-banner h2.main-title{ font-size: 2rem;}
	.ecshop-info{ padding-top: 100px;}
	.footer-box{padding: 20px 0;}
}
@media (max-width:420px){
	.top-header h1.logo{ width: 100px; }
	.top-header ul.userBox li .notificationBox{ right: -100px; }
	.top-header ul.userBox li{ display: inline-block; margin: 0 5px;}
}
@media (max-device-width:360px) {.contents-box{min-width: initial;}}