/*===== start ======*/
/*mobile-nav */
.page { width: 100%; min-height: 100%; overflow: auto; z-index: 100; position: relative;}
.mobile-nav { display: none;}
.mobile-nav ul { margin: 0 0 25px; padding: 0px;}
.mobile-nav ul li { list-style: none}
.hamburger { position: fixed; display: none; top: 18px; right: 10px; padding: 10px 15px 9px;  cursor: pointer; z-index: 200;}
.hamburger .hamburger-inner { position: relative; height: 21px; width: 24px; display: block; margin: 0; padding: 0;}
.hamburger .bar { width: 24px; height: 2px; background: #fff; position: absolute; top: 0;}
.hamburger .bar.bar2,.hamburger .bar.bar3 { top: 9px; transform: matrix(1, 0, 0, 1, 0, 0);}
.hamburger .bar.bar4 {top: 18px;}
.hamburger.open { position: fixed; top: 5px;}
.hamburger.open .bar1,.hamburger.open .bar4 {  display: none;}
.hamburger.open .bar2 { height: 3px;  background-color: #fff; transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);}
.hamburger.open .bar3 { height: 3px; background-color: #fff; transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, 0);}
.mobile-nav { width: 260px; background-color: #ff9800; z-index: 16;}
.mobile-nav.mobile-menu { width: 260px; position: fixed; top: 0px;  display: block; height: 100%; left: auto; right: 0px; z-index: 2147483647;}
.mobile-nav ul.Oneself { width: 100%; padding-top: 50px;}
.mobile-nav ul.Oneself li { padding: 10px 20px;  border-bottom: 1px solid #ffffff4f;}
.mobile-nav ul.Oneself li:last-child{ border:none; }
.mobile-nav ul.Oneself::after { content: ""; position: absolute; left: 50%; top: 10px; width: 40px; height: 54px; display: block; background-size: contain; margin-left: -20px; z-index: 6;}
.mobile-nav ul.Oneself li p { line-height: 45px; font-size: 1.063rem; font-weight: bold;}
.mobile-nav ul.Oneself li p a { color: #fafafa; cursor: pointer;}
.mobile-menu-inner { width: auto; padding: 20px 20px 60px; padding-bottom: 10px;  display: block;}
.mobile-nav p.btn a { background-color: #ff517e; color: #fff; padding: 10px 25px; display: inline-block; cursor: pointer; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;}

@media (max-width: 1000px) {
    .hamburger { display:block; }
}
@media (max-width: 750px) {
    .hamburger { position: fixed; top: 20px;}
    .mobile-nav p.btn { display: block;}
}

.BackgroundImage{ background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover;}

/*HeaderBox*/
.HeaderBox{ width: 100%; padding: 12px 0; position: fixed; top: 0; left: 0; z-index: 50; background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 1%, rgba(0,0,0,0.01) 99%, rgba(0,0,0,0) 100%); background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 1%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 1%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 );}
.HeaderBox h1.logo{ width: 140px; float: left; text-decoration: none;}
.HeaderBox h1.logo a{ cursor: pointer; color: #666; width: 100%; height: 50px; display: block;}
.HeaderBox h1.logo img{ max-width: 100%; max-height: 100%; }
.HeaderBox .TopBox{ width: 100%; float: right; max-width: calc(100% - 170px);}
.HeaderBox .TopBox ul.top_menu{ width: 100%; text-align: right;  padding-top: 6px; }
.HeaderBox .TopBox ul.top_menu li{display: inline-block; margin: 0 4px;}
.HeaderBox .TopBox ul.top_menu li h3{ font-size: 1.063rem; line-height: 22px; }
.HeaderBox .TopBox ul.top_menu li h3 a{ color: #fff; padding: 8px 24px; cursor: pointer;display: block;  -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;}
.HeaderBox .TopBox ul.top_menu li h3 a:hover{ background-color: #fff; color: #333; }

/*mainBox*/
.mainBox{ position: relative; width: 100%; padding: 50px 0; min-height:100vh; overflow-y: hidden; background-size: cover; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; background-attachment: fixed;}
.mainBox p{ color: #fff; }
.mainBox p.p_w{color: #fff; text-shadow: 0 0 5px rgba(0,0,0,.5);}
/*.mainBox p.btn{ padding-top: 40px; }*/
.mainBox_logo{ padding: 10px 0 20px; max-width: 500px; width: 100%; margin: 0 auto;}
.mainBox_logo img{ max-width: 100%; min-height: 100%; }
.mainBox p.sub_title{ font-size: 1.4rem; padding: 10px; }
.mainBox .ContentsBox{ max-width: 800px; }
.mainBox p.btn a{ color: #333; border-color: #333;  margin-top: 30px;}
.mainBox p.btn a:hover{ background-color: #333; color: #fff; }


/*背景影片*/
/*body {position: absolute; overflow-x: hidden; z-index: 1; }*/
.video-overlay { position: absolute; top: 0; left: 0; height: 100vh; width: 100%; z-index: -1;}
.video-overlay amp-video { width: 100%; height: auto; max-height: auto; }
.video-overlay amp-video video{ width: 110%; height: 100%;  object-fit: cover;}

/*測試 youtube*/
.youtube-bg {  position: absolute; top: 0; left: 0; height: 100vh; width: 100%; z-index: -1; overflow:hidden; }
.youtube-k{ position: absolute; top: 0; left: 0; background-color: rgba(0,0,0,.5); z-index: 0; }
.youtube-bg amp-youtube { width: 100%; min-width: 1920px; height: auto; max-height: auto; }
.youtube-bg amp-youtube iframe{ width: 110%; height: 100%;  object-fit: cover;}
.layer {width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0.4; background-color:transparent; }
@media (max-width:1700px){ .youtube-bg amp-youtube { min-width:1750px;}}
@media (max-width:1600px){ .youtube-bg amp-youtube { min-width:1650px;}}
@media (max-width:1500px){ .youtube-bg amp-youtube { min-width:1550px;}}
@media (max-width:1440px){ .youtube-bg amp-youtube { min-width:1500px;}}
@media (max-width:1280px){ .youtube-bg amp-youtube { min-width:1330px;}}
@media (max-width:970px){ .youtube-bg{ display: none; } .mainBox{ background-image:  url(images/g_010_3.jpg);}}


/*productBox*/
.productBox{ background-color:#f0f0f0;/* background-image: url(../images/business-coffee-computer-374006.jpg);*/ padding: 40px 0 60px; position: relative;}
.productBox .ContentsBox, .productBox .sliderBox{position: relative; z-index: 9;}
.productBox p.sub_title{ padding-bottom: 35px; color: #929292;}
.productBox .btn_order{ width: 100%; text-align: center; }
.productBox .popular-card { width: 13.5em; background: #fff; border-radius: .5em; overflow: hidden; margin-bottom: 4px;}
.productBox .popular-card .aspect-ratio { display: block; }
.productBox .popular-card_infos { padding: .5em; border-radius: 0 0 .5em .5em; border: 1px solid #e0e4e9; border-top: 0 none; }
.productBox .goods_name { font-size: .875em; color: #26282a; height: 3.15em; line-height: 1.3; overflow: hidden; white-space: normal; text-align: center; font-weight: bold;}
.productBox .card_price { justify-content: space-between; margin: .4em 0; text-align: center; }
.productBox .card_price p{color: #eb3835;}
.productBox .goods_buy{ width: 100%; padding:5px 0 10px 0; }
.productBox .goods_buy p{text-align: center; font-size: 0.8rem;}
.productBox .goods_buy p a{color: #fff; padding: 5px 10px ; display: inline-block; min-width: 75px; /*border-radius: 40px;*/ background-color: #ff9800;}
.productBox .goods_buy p a:hover{background-color: #ffcc2b;}
.aspect-ratio { position: relative;  width: 100%;}
.aspect-ratio:before {content: ''; width: 100%; padding-top: 100%;display: block;}
.aspect-ratio .content { position: absolute; top: 0; left: 0; right: 0; bottom: 0;}

/*評價*/
.user_evaluation .popular-card{ width: 20em; }
.user_evaluation .content{ width: 120px; height: 120px; display: block; margin: 0 auto; border-radius: 50%; overflow-y: hidden; margin-top: 40px; }
.user_evaluation .aspect-ratio:before{ padding-top: 165px;}
.user_evaluation .evaluation { font-size: .875em; color: #26282a;  line-height: 1.3rem; overflow: hidden; white-space: normal; text-align: center; font-weight: bold;display: block; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 5; line-height: 1.3rem; height: 1.3rem * 5; overflow:hidden;}
.user_evaluation .user_name { justify-content: space-between; margin: .4em 0 0 0; text-align: center; }
.user_evaluation .user_name p{color: #8bc34a; font-weight: bold; padding-bottom: 5px;}
.user_evaluation .evaluation p {font-size: .8rem; text-align: justify;}
.user_evaluation .popular-card_infos{padding:.5em 1.5em 1.5em 1.5em;}
.user_evaluation .use_year{ padding-bottom: 10px;}
 .user_evaluation .use_year p{ text-align: center; color: #9e9e9e; font-size: .8em; }

/*follow_us*/
.follow_us{ position: relative; padding: 50px 0; background-color: #ececec; }
.follow_us ul.follow_us_icon{ width: 100%; text-align: center; padding-top: 20px; }
.follow_us ul.follow_us_icon li{ display: inline-block; padding: 10px; }
.follow_us ul.follow_us_icon li a{width: 80px; color: #fff; font-size: 1.750rem; height: 80px; display: block; background-size: cover; background-position: center center; background-repeat: no-repeat; background-color: #ff9800; border-radius: 50%; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.follow_us ul.follow_us_icon li a:hover{ background-color: #ffae38; }

.follow_us ul.web li a{ background-color: #20513a; }
.follow_us ul.web li a:hover{ background-color: #1f5d40; }

/*about_us_box*/
.about_us_box{ position: relative;  width: 100%; padding: 50px 0; min-height: calc(100vh - 100px); display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.about_us_box .lBox{ float: left; width: 50%; height: 100%; }
.about_us_box .rBox{ float: left; width: 50%; height: 100%; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.about_us_box .foodBox{ width: 100%; height: 400px; border-radius: 5px; overflow: hidden; display: block;}
.about_us_box .foodBox{width: 90%; height: 100%; }
.about_us_box h3.main_title{ font-size: 1.375rem; padding: 40px 0;}
.about_us_box p.sub_title{ font-size: 1rem; line-height:30px; text-align: justify;}
.about_us_box p.btn a{ color: #333; border-color: #333;  margin-top: 30px;}
.about_us_box p.btn a:hover{ background-color: #333; color: #fff; }

/*contact_us*/
.contact_us{ position: relative; width: 100%; padding: 50px 0; }
.contact_us .lBox{ float: left; width: 50%; }
.contact_us .rBox{ float: right; width: 50%; padding: 0 20px; }
.contact_us .mapBox{ width: 100%; height: 400px; border-radius: 5px; overflow: hidden; display: block;}
/*.contact_us .mapBox amp-iframe{width: 90%; height: 100%; }*/
.contact_us ul.info{ width: 100%; padding: 40px 0; max-width: 450px; margin: 0 auto;}
.contact_us ul.info li{ width: 100%; padding-bottom: 25px; }
.contact_us ul.info li p{ padding-left: 40px; position: relative; line-height: 28px;}
.contact_us ul.info li p::before{ width: 30px; font-size: 1.063rem; line-height: 28px; text-align: center; content: ""; position: absolute; top: 0; left: 0; display: block; font-family: 'Font Awesome\ 5 Free'; font-weight: 900;}
.contact_us ul.info li p.add::before{ content: "\f3c5";}
.contact_us ul.info li p.photo::before{ content: "\f095";}
.contact_us ul.info li p.time::before{ content: "\f017";}
.contact_us ul.info li p.mail::before{ content: "\f0e0";}
.contact_us ul.info li p a{ color: #333; text-decoration: none; }
.contact_us ul.info li p a:hover{ text-decoration: underline; }
.contact_us .box2{ padding-top: 150px; }

/*map_box*/
.map_box{ width: 100%; height: 440px; }
.map_box amp-iframe{ width: 100%; height: 440px; }

/*video_box*/
.video_box{background-image: url(../images/bg_video.jpg); /*background-color: #022136;*/ position: relative;  width: 100%; min-height:calc(100vh - 100px); padding: 40px 0 60px; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.video_box .youtubeBox{ width: 100%; padding-top: 30px;  text-align: center; max-width: 800px; margin: 0 auto;}
.video_box .div{ width: 100%; max-width: 90%; }
.video_box h3.main_title ,.video_box p.sub_title{ color: #fff; }

/*formBox */
.formBox{background-image: url(../images/bg_02.jpg); position: relative;  padding: 50px 0;}
.formBox .ContentsBox{ max-width: 640px; position: relative; z-index: 9; }
.formBox .form_simple{ width: calc(100% - 40px); max-width: 600px; margin: 0 auto; padding: 30px 0 20px 0; }
.formBox .form_simple input{ width:100%; height: 45px; padding:0 10px; line-height: 45px; margin-bottom: 15px; font-size: 0.918rem; box-shadow: 0 2px 5px rgba(0,0,0,0.1);}
.formBox .form_simple textarea{ max-width: 600px; width:100%; height: 160px; padding:10px; margin-bottom: 15px; font-size: 0.918rem; box-shadow: 0 2px 5px rgba(0,0,0,0.1);}
.formBox .form_simple .btn input{ margin: 0 auto; width: initial; display: inline-block; color: #fff; border-radius: 50px; background-color: transparent; cursor: pointer; padding: 0px 25px; border: 1px solid #fff; min-width: 130px; }
.formBox .form_simple .btn input:hover{ background-color: #fff; color: #333; }

/*FooterBox*/
.FooterBox{ width: 100%; background-color: #fff; padding: 20px 0 55px 0;}
.FooterBox p{text-align: center;  font-size: 0.813rem; line-height: 24px; color: #666; letter-spacing: 0.5px;}


/*==== RWD ====*/
@media (max-width:1220px){
 .HeaderBox .TopBox ul.top_menu li h3{ font-size: 1rem; }
 .HeaderBox .TopBox ul.top_menu li h3 a{ padding: 8px 15px; }
}
@media (max-width:1000px){
	.HeaderBox .TopBox{ display: none; }
}
@media (max-width:900px){
	.about_us_box .lBox, .about_us_box .rBox{ width: 100%; }
	.about_us_box .foodBox{width: 100%; max-width: 500px; margin: 0 auto;}
	.contact_us{padding: 40px 0;}
	.contact_us .lBox, .contact_us .rBox, .contact_us .mapBox amp-iframe{width: 100%;}
	.contact_us .mapBox{height: 300px;}
	.map_box, .map_box amp-iframe{ height: 360px; }
}
@media (max-width:600px){
	.contact_us .mapBox{ height: 240px; }
	.map_box, .map_box amp-iframe{ height: 300px; }
}
@media (max-device-width:1200px) {
	.video_box{ min-height: initial; }
	.BackgroundImage{ background-attachment: initial;}
}
@media (max-device-width:700px) {
	/*影片於手機下變換成圖片*/
	/*.mainBox{ background-image: url(../images/basket-book-books-6332.jpg);}*/
}
