/*FooterBox 只能編輯文字 + 出現預設 website 文字*/
.s-footerBox { width: 100%; background-color: #fff; padding: 20px 0 55px 0; }
.s-footerBox ul.share-tools { padding: 15px 0; width: 100%; text-align: center; }
.s-footerBox ul.share-tools li { display: inline-block; min-height: 30px; padding: 4px; vertical-align: middle; color: #fff; }
.s-footerBox ul.share-tools li label { padding: 3px 8px; display: inline-block; border-radius: 5px; font-size: 0.918rem; }
.s-footerBox ul.share-tools li label i { padding-right: 10px; }
.s-footerBox ul.share-tools li label.facebook { background-color: #3b5998; }
.s-footerBox ul.share-tools li label.gplus { background-color: #dc4e41; }
.s-footerBox ul.share-tools li label.line { background-color: #52b448; }
.s-footerBox ul.share-tools li label.linkedin { background-color: #0077b5; }
.s-footerBox ul.share-tools li label.pinterest { background-color: #bd081c; }
.s-footerBox ul.share-tools li label.tumblr { background-color: #3c5a77; }
.s-footerBox ul.share-tools li label.twitter { background-color: #1da1f2; }
.s-footerBox ul.share-tools li label.whatsapp { background-color: #25d366; }
.s-footerBox ul.share-tools li label.telegram{ background-color: #32a4d8; }
.s-footerBox p.powered-website, .s-footerBox p.copyrights { text-align: center; font-size: 0.813rem; line-height: 24px; color: #666; letter-spacing: 0.5px; }
.s-footerBox p.powered-website { position: absolute; bottom: 0; width: 100%; left: 0; }
.s-footerBox p.powered-website a { background-color: #464646; padding: 5px 18px; border-radius: 12px 12px 0 0; display: inline-block; color: #fff; }
.s-footerBox p.powered-website a span { width: 52px; display: inline-block; color: transparent; background: url(//img.holkee.com/main/logo.png) center center no-repeat; background-size: contain; }
/*FooterBox 只能編輯文字 + 出現預設 website 文字 END*/
