/* 拆開css ------ mainBox */
.mainBox{ width: 100%; padding: 50px 0; min-height: 500px; overflow-y: hidden; background-size: cover; background-repeat: no-repeat; background-position: center center; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; background-attachment: fixed;}
.mainBox .ContentsBox{ z-index: 9; }
.mainBox p{ color: #333; }
.mainBox_logo{ max-width: 500px; margin: 0 auto;/* margin-bottom: 30px;*/ }
.mainBox_logo img{ max-width: 100%; min-height: 100%; }
@media (max-device-width:1200px) {
	.mainBox{ background-attachment: initial;}
}
@media (max-device-width:700px) { /*如果是影片背景，就要控制他的手機板，背景圖片呈現*/
	.mainBox{ /*background: url() center center no-repeat;*/ }
}
/* 拆開css ------ mainBox END */
