/* 拆開css ------ mainBox */
.mainBox { min-height: 100vh; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; }
.mainBox .imgBox { max-width: 500px; margin: 0 auto; display: table; }
.mainBox .imgBox img { max-width: 100%; min-height: 100%; }

.mainBox .style-one .imgBox, .mainBox .style-two .imgBox { max-width: 1000px; }
.mainBox .style-one .aBox, .mainBox .style-one .aBox .f-btn-add{ text-align: center; }
.mainBox .style-one .aBox .the_editBox, .mainBox .style-one .aBox .f-btn-add{ margin: inherit; display: inline-block; } 

.mainBox .style-two .aBox, .mainBox .style-two .aBox .f-btn-add{ text-align: center; }
.mainBox .style-two .aBox .the_editBox, .mainBox .style-two .aBox .f-btn-add{ margin: inherit; display: inline-block; } 

@media (max-width: 500px) {
	.mainBox .style-two .aBox .f-btn-add{ display: block; }
	.mainBox .style-two .aBox p.btn a{ min-width: 85vw; }
}
/* 拆開css ------ mainBox END */
