/* 拆開css ------ textBox */
.textBox {}
.textBox .aBox { float: left; width: 50%; }
.textBox .aBox:last-child { padding: 0 0 0 20px; }
.textBox .imgBox { margin: 0 auto; display: table; border-radius: 5px; overflow: hidden; }
.textBox .imgBox img { max-width: 100%; max-height: 100%; }
.textBox h3.main_title { padding: 40px 0; }
.textBox p.sub_title { line-height: 30px; text-align: justify; }

.textBox .style-one .aBox:first-child{ padding: 0 20px 0 0; }
.textBox .style-one .aBox:last-child{ padding: 0; }

.textBox .style-two .aBox{ float: initial; width: 100%; max-width: 1000px; margin: 0 auto; }

@media (max-width: 900px) {
	.textBox .aBox, .textBox .aBox:last-child, .textBox .style-one .aBox:first-child{ width: 100%; padding: 0; }
    .textBox .style-one .aBox:first-child{ padding-bottom:30px; }
}
/* 拆開css ------ textBox END */

