/* 拆開css ------ formBox */
.formBox{ background-repeat: no-repeat; background-position:  center center ; background-size: cover; padding: 50px 0;}
.formBox .ContentsBox{ max-width: 640px; position: relative; z-index: 9; }
.formBox .form_simple{ max-width: 600px; margin: 0 auto; padding: 30px 0 20px 0; }
.formBox .form_simple input{ width: 100%; height: 45px; padding: 10px; line-height: 45px; margin-bottom: 15px; font-size: 0.918rem; box-shadow: 0 2px 5px rgba(0,0,0,0.1);}
.formBox .form_simple textarea{ max-width: 600px; width: 100%; height: 160px; padding:10px; margin-bottom: 15px; font-size: 0.918rem; box-shadow: 0 2px 5px rgba(0,0,0,0.1);}
/* 拆開css ------ formBox END*/
