/* 拆開css ------ productBox */
.productBox{ width: 100%; padding: 50px 0; background-color: #eee; background-position: center center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;   } /*底色需要下在最外層*/
.productBox .ContentsBox{ max-width: 100%; width: 100%; }

.productBox .slider-box{ width: 100%; overflow-x: hidden; height: 400px; padding: 40px 0;  overflow: hidden;}
.productBox ul.data-box{ width: 1000%; z-index: 9 ;}
.productBox ul.data-box li{ width: 100%; max-width: 216px; float: left; background-color: #fff; border-radius: .5em; margin:0 10px 10px 0; overflow-y: hidden;}
.productBox ul.data-box li .slider-photo{ width: 100%; height: 216px; display: block; background-position: center center; background-size: cover; background-repeat: no-repeat; }
.productBox ul.data-box li .bottom-info{ text-align: center; padding: 20px 0; }
.productBox ul.data-box li .bottom-info .goods-name{ padding-bottom: 10px;}
.productBox ul.data-box li .bottom-info .goods-name p{ font-size: 1rem;  height:1.5rem; display: block; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; line-height: 1.5rem; height: 1.5rem * 1; overflow:hidden;}
.productBox ul.data-box li .bottom-info p{ font-size: 0.750rem; }
.productBox ul.data-box li .bottom-info a.order{ color: #555; padding: 3px 10px; display: inline-block; min-width: 65px; border-radius: 4px; border: 1px solid #555; }

/*.productBox .slider { width: 100%; overflow-x: hidden; padding-top: 40px; z-index: 9;}
.productBox .slider .info{ text-align: center; padding: 20px 0; }
.productBox .slider .info .goods_name{padding-bottom: 10px;}
.productBox .slider .info a.order{ color: #655; border-bottom: 1px solid; }
.productBox .slider .info a.order:hover{ border:none; }
.productBox .slider .info a.good_photo{display: block;}
.productBox .slider ul li{ transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
.productBox .slider ul li:hover{ opacity: .9; }

.bg_translucent_k .productBox .slider .info .goods_name p{ color: #fff; }
.bg_translucent_k .productBox .slider .info a.order{ color: #fff; background-color: #333; padding: 10px; border-radius: 4px;  display: inline-block; min-width: 100px; border:none; }*/

/* 拆開css ------ productBox END */
