/*FooterBox 只能編輯文字 + 出現預設holkee文字*/
.s-footerBox{ width: 100%; background-color: #fff; padding: 20px 0 40px 0; position: relative;}
.s-footerBox p{text-align: center;  font-size: 0.750rem; line-height: 24px; color: #666; letter-spacing: 0.5px;}
.s-footerBox p.powered_holkee{ position: absolute; bottom: 0; width: 100%; left: 0; text-align: center; }
.s-footerBox p.powered_holkee a{ background-color: #464646; padding: 5px 18px; border-radius: 12px 12px 0 0; display: inline-block; color: #fff; }
.s-footerBox p.powered_holkee a span{ width: 52px; display: inline-block; color: transparent; background: url(../../images/logo.png) center center no-repeat; background-size: contain; }

/*share*/
ul.share-tools{ padding: 15px 0; width: 100%; text-align: center; }
ul.share-tools li{ display: inline-block; height: 30px; padding: 0 4px; vertical-align: middle;}


/*FooterBox 只能編輯文字 + 出現預設holkee文字 END*/