
/* 拆開css ------ top_header */
.top_header{ width: 100%; padding: 12px 0; position: absolute; top: 0; left: 0; z-index: 50;
background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 1%, rgba(0,0,0,0.01) 99%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 1%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 1%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 ); }
.top_header .ContentsBox{ max-width: calc(100% - 20px);}
.top_header .left_logo{ max-width: 180px; float: left; position: relative; }
.top_header .logo{ width:100%; text-decoration: none;}
.top_header .logo a{ cursor: pointer; color: #666; width: 100%; height: 50px; display: block;}
.top_header .logo img{ max-width: 100%; max-height: 100%; }
.top_header .TopBox{ width: 100%; float: right; max-width: calc(100% - 190px);}
.top_header .TopBox ul.top_menu{ width: 100%; text-align: right;  padding-top: 6px; }
.top_header .TopBox ul.top_menu li{display: inline-block; margin: 0 4px;}
.top_header .TopBox ul.top_menu li h3{ font-size: 17px; line-height: 22px; }
.top_header .TopBox ul.top_menu li h3 a{ color: #fff; padding: 8px 10px; cursor: pointer;display: inline-block;  -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;}
.top_header .TopBox ul.top_menu li h3 a:hover{ background-color: #fff; color: #333; }
.menu_hamburger{ position: fixed; color: #fff; display: none; font-size: 1.375em; top: 75px; right: 20px; padding: 10px 20px; cursor: pointer; z-index: 200;}

@media (max-width:1220px){
	.top_header .TopBox ul.top_menu li h3{ font-size: 16px; }
	.top_header .TopBox ul.top_menu li h3 a{ padding: 8px 12px; }
}
@media (max-width:1000px){
	.top_header .TopBox{ display: none; }
	.top_header .TopBox ul.top_menu li h3{font-size: 15px;}
	.menu_hamburger{ display: block; }
}
/* 拆開css ------ top_header END */
