@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
input, textarea { margin:0; padding:0;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img { border:0;}
ol, ul { list-style:none;}
abbr, acronym { border:0;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix {height: 1%;}
*:first-child + html .clearfix { min-height: 1%;}

body, h1, h2, h3, h4, h5, h6, p {font-family:'Roboto', 'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif; font-weight: normal; color: #333;}
p{ font-size: 16px;}
a{ text-decoration:none; outline: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
a:hover{ text-decoration:none;}
select, input, textarea, button {  font-family:'Roboto', 'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif;}
*:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none; }
html,body { width: 100%; margin: 0;  padding: 0;}

/*

.main_contents{ width: 100%; background: rgba(0,0,0,.1); }
.main_contents .ContentsBox{ width: 100%; z-index: 20; }

.KVbox{ width: 100%; padding: 50px 0; min-height: calc(100vh - 100px) ; overflow-y: hidden; background-size: cover;
    display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; background-attachment: fixed;}
.KVbox p{ color: #333; }

.KVbox.backgroundImage {
    background: url(../images/new_site/basket-book-books-6332.jpg) center center no-repeat;
}

.KVlogo{
    position: relative;
    max-width: 500px;
    height: 66px;
    margin: -150px auto 30px auto;
}
.contain img {
    object-fit: contain;
}
*/
/*p.sub_title{ text-align: center; font-size: 22px; width:calc(100 - 40px); margin: 0 auto; max-width: 1000px; }
p.btn{ text-align: center; padding-top: 50px; }
p.btn a{  cursor: pointer; color: #fff; display: inline-block; padding: 12px 25px; border:1px solid #fff; min-width: 130px; }
p.btn a:hover{ background-color: #fff; color: #333; }
*/


amp-carousel .ampstart-image-with-caption {
        margin-bottom: 0
    }

    .ampstart-image-credit {
        font: 700 0.6875rem/1.6 Work Sans,arial,sans-serif;
        letter-spacing: .6px
    }

    .ampstart-image-credit-price {
        font: 700 1.6875rem/1.6 Work Sans,arial,sans-serif;
        letter-spacing: .6px
    }

    .ampstart-image-credit br {
        display: none
    }

    .relative {
        position: relative
    }

    .block {
        display: block
    }

    .inline-block {
        display: inline-block
    }

    .bold {
        font-weight: 700
    }

    .caps {
        text-transform: uppercase;
        letter-spacing: 0
    }

    .ampstart-btn {
        font-family: inherit;
        font-weight: inherit;
        font-size: 1rem;
        line-height: 1.125rem;
        padding: .4em;
        text-decoration: none;
        white-space: nowrap;
        word-wrap: normal;
        vertical-align: middle;
        cursor: pointer;
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
        border-radius: 6px;
        min-width: 4em;
    }

    .ampstart-btn:visited {
        color: #000
    }

    .ampstart-btn:active .ampstart-btn:focus {
        opacity: .8
    }

    .ampstart-btn[disabled],.ampstart-btn[disabled]:active,.ampstart-btn[disabled]:focus,.ampstart-btn[disabled]:hover {
        opacity: .5;
        outline: 0;
        cursor: default
    }

    .text-decoration-none {
        text-decoration: none
    }

    .center {
        text-align: center
    }

    .left-align {
        text-align: left
    }

    .content-sroll {
        overflow-y: auto;
        max-height: 100px;
        display: block;
    }

/*商品列表的 不知道需不需要新隱藏這些code

@keyframes live {
    0%, to {
        opacity: 1
    }
    50% {
        opacity: .8
    }
}
@keyframes slide-act {
    0% {
        transform: translateY(99.999%)
    }
    to {
        transform: translateY(0)
    }
}
@keyframes cta-line {
    0% {
        transform-origin: 100% 50%;
        transform: scaleX(1)
    }
    45% {
        transform-origin: 100% 50%;
        transform: scaleX(0)
    }
    55% {
        transform-origin: 0% 50%;
        transform: scaleX(0)
    }
    to {
        transform-origin: 0% 50%;
        transform: scaleX(1)
    }
}
@keyframes crazy-ad {
    0% {
        opacity: 0;
        transform: rotateX(-650deg)
    }
    to {
        opacity: 1;
        transform: rotateX(0deg)
    }
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400
}
abbr {
    font-variant: normal
}
body {
    -webkit-text-size-adjust: none
}
button, input, select, textarea {
    font: 99% arial, helvetica, clean, sans-serif
}
del {
    font-style: normal;
    text-decoration: none
}
pre {
    font-family: monospace;
    line-height: 100%
}
template {
    display: none
}
mark {
    background: 0 0
}
progress {
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden
}
:root {
    --i0: url(img/yau/ico-carousel-arrow-left.svg);
    --i1: url(img/yau/ico-carousel-arrow-right.svg);
    --i2: url(img/yau/loader_auc.svg) no-repeat center;
    --i3: url(img/yau/ico-close-black.svg) no-repeat center / contain;
    --i4: url(img/yau/ico-like-item.svg)
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
    background: #f1f1f5
}
.pure-g {
    text-rendering: optimizespeed;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start
}
.pure-u-1-2 {
    width: 50%
}
.pure-g [class*=pure-u], a {
    font-family: 'Noto Sans TC', arial, helvetica, clean, sans-serif, Microsoft JhengHei, \5FAE\8EDF\6B63\9ED1\9AD4
}
a {
    color: #3abfba
}
a, a:hover {
    text-decoration: none
}
.hide, h1 {
    display: none
}
#hd {
    background: linear-gradient(87deg, #9acc69, #fcda19 67%, #fcda19) no-repeat 0/100%
}
#bd, #bd input, #bd textarea, #ft {
    font-family: arial, helvetica, clean, sans-serif, Microsoft JhengHei, \5FAE\8EDF\6B63\9ED1\9AD4
}
#bd, #ft {
    margin: 0 auto
}
#ft {
    padding: .875em 0;
    display: block;
    min-width: 320px;
    max-width: 767px;
    text-align: center
}
#ft small {
    font-size: .8125em
}
.hyphenate {
    -ms-word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    -webkit-hyphens: auto
}
.stuff {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden
}
.bind-insurce, .custom-loader .amp-active>div, .header__search--on[data-fixed=on] .recycle-layer {
    display: none
}
.related-links {
    font-size: .8125em;
    color: #979ba7
}
#ft, .related-links a {
    color: #979ba7
}
.related-links a:after {
    content: '|';
    margin: 0 .3em
}
.related-links a:nth-last-of-type(1):after {
    content: '';
    margin: 0
}

*/