/* plans page */
.plans-wrapper h2, .plans-wrapper h4, .plans-wrapper p{color: #333;}
.plans-wrapper { width: 100%; }
.plans-wrapper .ContentsBox { margin: 0 auto; }
.plans-wrapper .plans-contents{ padding: 70px 0 50px 0; background-repeat: no-repeat; background-size: cover; background-position: center center; background-attachment: fixed; }
.plans-wrapper .plans-contents h2.top-title { text-align: center; font-size: 1.313rem; padding:35px 0; font-weight: bold;}
.plans-wrapper .plans-contents p.sub-title{ text-align: center; font-size: 1.063rem; line-height: 2rem; padding: 0 20px;}
.plans-wrapper .plans-contents p.btn{ padding: 20px 0; }
.plans-wrapper .plans-contents p.btn a{ min-width: 168px; line-height: 2.875rem; display: inline-block; border-radius: 50px; color: #333; font-weight: bold; border: 2px solid #333; }
.plans-wrapper .plans-contents p.btn a:hover{ background-color: #333; color: #fff; }

.plans-wrapper .plans-contents ul.info-card{ width: 100%; display: flex; justify-content: center; align-items: flex-start; flex-wrap: wrap; padding:60px 0 40px 0;}
.plans-wrapper .plans-contents ul.info-card li{ min-width: 380px; border: 4px solid #fff; background-color: #fff; border-radius: 15px; margin: 0 15px 35px 15px; overflow: hidden; box-shadow: 0px 3px 6px rgba(0,0,0, 0.1); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
.plans-wrapper .plans-contents ul.info-card li:hover{ box-shadow: 0px 5px 8px rgba(0,0,0, 0.25); }
.plans-wrapper .plans-contents ul.info-card li p{text-align: center;}
.plans-wrapper .plans-contents ul.info-card li .top-banner{ height: 109px; position: relative; }
.plans-wrapper .plans-contents ul.info-card li .top-banner::after{ position: absolute; content: ""; top: 0; left: 30px; width: 111px; height: 105px; display: block; background-repeat: no-repeat; background-position: center center; background-size: contain;}
.plans-wrapper .plans-contents ul.info-card li .top-banner h3{ position: absolute; bottom:15px; right:25px; font-size: 1.750rem; font-weight: bold; color: #fff; text-shadow: 0px 2px 2px rgba(0,0,0,.1);}

.plans-wrapper .plans-contents ul.info-card li.banner-general .top-banner{ background: #fdd96b; background: -moz-linear-gradient(-45deg,  #fdd96b 0%, #ffa814 100%); background: -webkit-linear-gradient(-45deg,  #fdd96b 0%,#ffa814 100%); background: linear-gradient(135deg,  #fdd96b 0%,#ffa814 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd96b', endColorstr='#ffa814',GradientType=1 ); /}
.plans-wrapper .plans-contents ul.info-card li.banner-general .top-banner::after{ background-image: url(../images/icon_free.png); }
.plans-wrapper .plans-contents ul.info-card li.banner-general p.btn a{ background-color: #F3549A; color: #fff; border-color: #F3549A; }
.plans-wrapper .plans-contents ul.info-card li.banner-general p.btn a:hover{ opacity: .8; }
.plans-wrapper .plans-contents ul.info-card li.banner-premium .top-banner{ background: #cbf3f9; background: -moz-linear-gradient(-45deg,  #cbf3f9 2%, #27d0ca 50%); background: -webkit-linear-gradient(-45deg,  #cbf3f9 2%,#27d0ca 50%); background: linear-gradient(135deg,  #cbf3f9 2%,#27d0ca 50%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbf3f9', endColorstr='#27d0ca',GradientType=1 ); }
.plans-wrapper .plans-contents ul.info-card li.banner-premium .top-banner::after{ background-image: url(../images/icon_diamond.png); }
.plans-wrapper .plans-contents ul.info-card li.color-purple .top-banner{ background: #e8cbf9; background: -moz-linear-gradient(-45deg,  #e8cbf9 0%, #bb74f1 69%); background: -webkit-linear-gradient(-45deg,  #e8cbf9 0%,#bb74f1 69%); background: linear-gradient(135deg,  #e8cbf9 0%,#bb74f1 69%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8cbf9', endColorstr='#bb74f1',GradientType=1 );  }

.plans-wrapper .plans-contents ul.info-card li.choose-purple{ border-color:#BB74F1; }
.plans-wrapper .plans-contents ul.info-card li.choose-purple p.btn a{ background-color: #BB74F1; color: #fff; border-color: #BB74F1; }
.plans-wrapper .plans-contents ul.info-card li.choose-purple p.btn a:hover{ opacity: .8; }
.plans-wrapper .plans-contents ul.info-card li.choose-green{ border-color:#27D0CA;}
.plans-wrapper .plans-contents ul.info-card li.choose-green p.btn a{ background-color: #27D0CA; color: #fff; border-color: #27D0CA; }

.plans-wrapper .plans-contents ul.info-card li.nothing{ background-color: inherit; border: none; }

.plans-wrapper .plans-contents ul.info-card li .level-info{ padding: 20px; }
.plans-wrapper .plans-contents ul.info-card li .level-info p{ line-height:2.5rem ; font-size: 0.875rem; }

.plans-wrapper .membership-levels { background-image: url(../images/bg_levels.png); }
.plans-wrapper .membership-levels ul.info-card li{ border:none;}

.plans-wrapper .plans-price p.btn{ padding-bottom: 10px; }
.plans-wrapper .plans-price ul.info-card{ padding: 40px 0; }
.plans-wrapper .plans-price ul.info-card li .amount{ background-color: #F7F8F9; min-height: 110px; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.plans-wrapper .plans-price ul.info-card li .amount p{ font-size: 2.125rem; font-weight: bold; line-height: 1.375rem; }
.plans-wrapper .plans-price ul.info-card li .amount p span{ font-size: 1.063rem; font-weight: normal;}
.plans-wrapper .plans-price ul.info-card li .amount p span.c-red{ color: #FF0055; font-size: 0.875rem; }
.plans-wrapper .plans-price ul.info-card li .plans-info{ padding-top: 5px; }
.plans-wrapper .plans-price ul.info-card li .plans-info p.p-info { line-height: 2rem; padding-bottom: 20px; font-size: 0.875rem;}

.plans-wrapper .support-add{ border-bottom: 6px solid #27D0CA; background-image: url(../images/bg_support.png);}
.plans-wrapper .support-add p.sub-title{ font-size: 0.875rem; }
.plans-wrapper .support-add p.btn{ padding: 25px 0; }
.plans-wrapper .support-add .services-item{ background-color: #F7F8F9; min-height: 140px; padding: 20px 20px 15px 25px; position: relative;}
.plans-wrapper .support-add .services-item::after{content: ""; position: absolute; z-index: 1; top: 15px; right: 15px; width: 55px; height: 55px; border-radius: 50%; border: 2px solid #fff; background-color: #E7E7E7; }
.plans-wrapper .support-add .services-item::before{content: ""; position: absolute; z-index: 2; top: 15px; right: 15px; width: 55px; height: 55px; border-radius: 50%; overflow: hidden; -webkit-clip-path: polygon(29% 32%, 44% 55%, 80% 0, 100% 9%, 44% 87%, 13% 46%); clip-path: polygon(29% 32%, 44% 55%, 80% 0, 100% 9%, 44% 87%, 13% 46%); background-color: #fff; }

.plans-wrapper .support-add .services-item h4.item-title{ font-size: 1.125rem; font-weight: bold; max-width:calc(100% - 50px); line-height: 2rem;}
.plans-wrapper .support-add .services-item h4.item-title span{ font-weight: normal; font-size: 0.844rem; display: inline-block; line-height: 1.625rem; max-width: 236px;}
.plans-wrapper .support-add .services-item p.amount{ font-size: 1.125rem; text-align: left; padding-top: 5px; font-weight: bold; }
.plans-wrapper .support-add .services-item p.amount span{ color: #444; font-weight: normal; font-size: .9375em;}

.plans-wrapper .support-add ul.info-card li.choose{ border-color: #FFC93A; }
.plans-wrapper .support-add ul.info-card li.choose p.btn a{ background-color: #27D0CA; border-color: #27D0CA; color: #fff;}
.plans-wrapper .support-add ul.info-card li.choose .services-item::after{ background-color: #FFC93A;}

.plans-wrapper .support-add ul.info-card li.order{ border-color: #27D0CA; }
.plans-wrapper .support-add ul.info-card li.order .services-item h4.item-title, .plans-wrapper .support-add ul.info-card li.order .services-item p.amount{ opacity: .6; }
.plans-wrapper .support-add ul.info-card li.order p.btn a{ opacity: 0.4; cursor: no-drop;}
.plans-wrapper .support-add ul.info-card li.order p.btn a:hover{ background-color: #fff; color: #333; }
.plans-wrapper .support-add ul.info-card li.order .services-item::after{ background-color: #27D0CA}

.plans-wrapper .membership-faq ul.faq-list{ width: 100%; max-width: 1000px; margin: 0 auto; padding-bottom: 100px;}
.plans-wrapper .membership-faq ul.faq-list li{ border-bottom: 1px dashed #E1E1E1; padding: 25px 0; }
.plans-wrapper .membership-faq ul.faq-list li h4{ font-size: 0.938rem; font-weight: bold;  padding-bottom: 10px;}
.plans-wrapper .membership-faq ul.faq-list li p{ font-size: 0.844rem; text-align: justify; line-height: 1.750rem;}

.plans-wrapper .plans-contents ul.info-card li .plans-info p.p-info a, .plans-wrapper .plans-contents p.sub-title a, .plans-wrapper .membership-faq ul.faq-list li p a{ color: #27d0ca; text-decoration: underline; margin: 0 5px; }
.plans-wrapper .plans-contents ul.info-card li .plans-info p.p-info a:hover, .plans-wrapper .plans-contents p.sub-title a:hover, .plans-wrapper .membership-faq ul.faq-list li p a:hover{ text-decoration: none; }

.payment-instructions .fillinBox{ padding-top: 25px; }
.payment-instructions h4.top-title{ font-size: 1rem; line-height: 1.375rem; font-weight: bold; color: #333; text-align: justify; padding-bottom: 25px;}
.payment-instructions h4.top-title span{ color: #FF2929; }

.payment-instructions p.p-info{ color: #333; font-size: 0.875rem; line-height: 22px;}
.payment-instructions p.p-info span{ font-weight: bold; }

.fixed-order-contents{ position: fixed; right: 3%; bottom:calc(25% - 60px); z-index: 5; }
.fixed-order-contents .order-list{ position: relative; }
.fixed-order-contents .order-list p.order-btn{ font-size: 0.938rem; font-weight: bold; position: relative; }
.fixed-order-contents .order-list p.order-btn a{ width: 80px; height: 80px; color: #fff; display: block; border-radius: 50%; background-color: #F3549A; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.fixed-order-contents .order-list p.order-btn a:hover{background-color: #ff4094; box-shadow: 0px 5px 8px rgba(0,0,0, 0.25);}
.fixed-order-contents .order-list p.order-btn a.none-function{ background-color: #D2D2D2; cursor: not-allowed;}
.fixed-order-contents .order-list p.order-btn span.note-info{ display: block; color: #fff; z-index: 10; position: absolute; bottom: 10px; right: 90px; min-width: 150px; border-radius: 4px; padding: 10px; background-color: rgba(0,0,0,.8); }
.fixed-order-contents .order-list p.order-btn span.note-info::before{ content: ""; position: absolute; display:block; border-width:8px 8px 8px 8px; border-style:solid; border-color: transparent transparent transparent  rgba(0,0,0,.8) ; right:-16px; bottom:25px;}

.popup-w-s .payment-instructions .top_title::after{ display: block!important;}


/*payment page*/
.plans-wrapper .payment-contents{ background-image: url(../images/bg_payment.jpg);background-position: right bottom; }
.plans-wrapper .payment-contents p.sub-title{ font-size: 0.875rem; }
.plans-wrapper .payment-contents p.btn{ text-align: center; }

.payment-contents .order-details{ width: 100%; max-width: 550px; margin: 0 auto 20px auto; background-color: #fff; box-shadow: 0px 3px 6px rgba(0,0,0, 0.1); border-radius: 15px; padding: 25px 0 10px 0; }
.payment-contents .order-details p{ padding: 0 20px; font-size: 0.875rem; font-weight: bold; padding-bottom: 10px;}
.payment-contents .order-details p span{ float: left; line-height: 2rem; }
.payment-contents .order-details p span.l-title{ font-size: 0.813rem; color: #7E7E7E; width: 110px; display: block; text-align: right; padding-right: 30px;}
.payment-contents .order-details p span.r-item{ color: #565184; line-height: 2rem; width: calc(100% - 110px); }
.payment-contents .order-details p.total{ border-top: 1px solid #DCDCDC; padding-top: 15px; margin-top: 15px; }
.payment-contents .order-details p.total span.l-title{ padding-top: 3px; }
.payment-contents .order-details p.total span.r-item{ color: #333333; }
.payment-contents .order-details p.total span.color-red{ color: #FF2121; font-size: 1.5rem; float: none; }

.payment-contents .payer-information{ width: 100%; padding: 30px 0;}
.payer-information form{ width: 100%; max-width: 790px; margin: 0 auto 30px auto; background-color: #fff; box-shadow: 0px 3px 6px rgba(0,0,0, 0.1); border-radius: 15px; padding: 30px;}
.payer-information .top-box{ width: 100%; padding: 0 10px 10px 0px; }
.payer-information .top-box h3.main-title{ font-size: 1rem ; color: #FF2121; font-weight: bold; padding-bottom: 10px; }
.payer-information .top-box p.sub-note{ font-size: 0.75rem; color: #7E7E7E; }

.payer-information .fill-in-box{ width: 100%; }
.payer-information .fill-in-box input.fill-in-text, .payer-information .fill-in-box select{ font-size: 0.875rem; background-color: transparent; border: none; border-bottom: 1px solid #DCDCDC; width: 100%; padding: 5px 0px; height: 50px; line-height: 50px; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.payer-information .fill-in-box input.fill-in-text::placeholder,
.payer-information .fill-in-box input.fill-in-text::-webkit-input-placeholder,
.payer-information .fill-in-box input.fill-in-text::-moz-placeholder,
.payer-information .fill-in-box input.fill-in-text:-ms-input-placeholder,
.payer-information .fill-in-box input.fill-in-text:-moz-placeholder { color: #7E7E7E; }
.payer-information .fill-in-box input.fill-in-error, .payer-information .fill-in-box select.fill-in-error{ border-color: #FF2121; }

.payer-information .fill-in-box .information-info{ float: left; width: calc(100% - 280px); padding-right: 40px;}
.payer-information .fill-in-box .information-info fieldset{ padding-top: 10px; position: relative;}
.payer-information .fill-in-box .row{ position: relative; }
.payer-information .fill-in-box .both .row{ width:calc(50% - 7.5px); float: left;}
.payer-information .fill-in-box .both .row:last-child{ float: right; }

.payer-information .fill-in-box .invoice-info{ float: left; width: 280px; background-color: #FAFAFA; padding: 13px 18px 25px 18px; border-radius: 15px;}
.payer-information .fill-in-box .invoice-info p{ color: #7E7E7E; font-size: 0.875em; padding: 5px 0; }
.payer-information .fill-in-box .invoice-info fieldset{ position: relative; }
.payer-information .fill-in-box .invoice-info fieldset:first-child{ padding-bottom: 10px; }
.payer-information .fill-in-box .invoice-info legend{  color: #333333; font-size: 0.938rem; font-weight: bold; padding: 5px 0;}
.payer-information .fill-in-box .invoice-info input.fill-in-text, .payer-information .fill-in-box .invoice-info select{ margin-top: 5px; }
.payer-information .fill-in-box p.for-note{ position: absolute; bottom: 20px; right:0px; font-size: 0.813rem;  color: #ff2121;}
.payer-information .fill-in-box p.for-note i{padding-right: 3px;}
.payer-information .fill-in-box .invoice-info p.for-note{ bottom: 13px; }
.payer-information .fill-in-box .invoice-info .note-fixed-none{ position: inherit; }
.payer-information .fill-in-box .invoice-info .note-fixed-none p.for-note{ position: inherit; padding-top: 10px; position: inherit\9;  position: inherit\0; +position: inherit;  _position:inherit;}
 /*for ie9*/
 :root .payer-information .fill-in-box .invoice-info .note-fixed-none p.for-note{ position: inherit\9; }
/*for ie10 „ÄÅ ie11*/ 
@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
	.payer-information .fill-in-box .invoice-info .note-fixed-none p.for-note{ position: inherit; } 
	.payer-information .fill-in-box input.fill-in-text, .payer-information .fill-in-box select{line-height: 40px;}
}
.payment-instructions p.card-payment-info{ padding-top:15px; text-align: center; font-size: 1rem; line-height: 1.938rem; }
.payment-instructions p.card-payment-info span{ color: #27D0CA; font-weight: bold;}

/*==== RWD ====*/
@media (max-width:750px) {
	.plans-wrapper .plans-contents h2.top-title{ padding: 15px 0;}
	.plans-wrapper .plans-contents ul.info-card{ padding: 30px 0 0 0;}
	.plans-wrapper .plans-contents ul.info-card li{ width: 90%; min-width: inherit; max-width: 320px;}
	.plans-wrapper .plans-contents ul.info-card li .level-info p{ line-height: 2rem; }
	.plans-wrapper .plans-contents ul.info-card li .top-banner::after{ left: 20px;	 }
	.plans-wrapper .plans-contents ul.info-card li .top-banner, .plans-wrapper .plans-contents ul.info-card li .top-banner::after{ height: 90px; }
	.plans-wrapper .plans-contents ul.info-card li .top-banner h3{ font-size: 1.5rem; }

	.plans-wrapper .plans-price ul.info-card li .amount{ min-height: 85px;}
	.plans-wrapper .plans-price ul.info-card li .amount p{ font-size: 1.625rem;}
	.plans-wrapper .plans-price ul.info-card li .plans-info p.p-info{ line-height: 1.5rem;}

	.plans-wrapper .support-add p.btn{ padding: 20px 0; }
	.plans-wrapper .support-add .services-item{ min-height: 125px; }
	.plans-wrapper .support-add .services-item h4.item-title{ font-size: 1rem; line-height: 1.5rem; max-width: calc(100% - 32px);}			
	.plans-wrapper .support-add .services-item h4.item-title span{ line-height: 1.25rem;}
	.plans-wrapper .support-add .services-item::before, 
	.plans-wrapper .support-add .services-item::after{ width: 40px; height: 40px; right: 10px; }

	.plans-wrapper .membership-levels p.sub-title{ font-size: 1rem; }
	.plans-wrapper .membership-faq ul.faq-list li p{ line-height: 1.25rem;}
	.payment-instructions h4.top-title{ font-size: 0.938rem;}
	.fixed-order-contents{ bottom: 10%; }

	.payer-information .fill-in-box .information-info{ width: 100%; padding: 0; padding-bottom: 20px; }
	.payer-information .fill-in-box .invoice-info{ width: 100%; }
}
@media (max-width:599px) {
	.payer-information .fill-in-box .information-info fieldset{ padding-top: 0; }
	.payer-information .fill-in-box .invoice-info input.fill-in-text, .payer-information .fill-in-box .invoice-info select{ margin-top: 0; }
	.payer-information .fill-in-box .both .row{ width: 100%; }
	.payment-contents .order-details p span.l-title{ width: 100%; padding-right: 0; text-align: center; }
	.payment-contents .order-details p span.r-item{ width: 100%; text-align: center; }
}
@media (max-width:400px) {
	.plans-wrapper .membership-levels p.sub-title{ font-size: 0.938rem;}
	.plans-wrapper .plans-contents ul.info-card li .level-info p{ font-size: 0.813rem; }
	.plans-wrapper .plans-contents ul.info-card li .top-banner h3{ font-size: 1.375rem;}
	.plans-wrapper .plans-price ul.info-card li .plans-info p.p-info{ font-size: 0.813em;}
	.plans-wrapper .plans-contents ul.info-card li .top-banner, .plans-wrapper .plans-contents ul.info-card li .top-banner::after{ height: 80px; }
	
	.fixed-order-contents .order-list p.order-btn{ font-size: 0.875rem;}
	.payment-instructions h4.top-title{ font-size: 0.875rem; }
	.payment-instructions p.p-info{ font-size: 0.813rem; }
	.payment-instructions p.card-payment-info{ font-size: 0.875rem; padding-top: 5px; }
}

@media (max-device-width:1200px) {
	.plans-wrapper .plans-contents{ background-attachment: inherit; background-position: left center; }
	.plans-wrapper .support-add{ background-position: center center; }
}